<main id="main" class="no-sidebar " role="main">
    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom has-bg has-image  view-mode-full has-txt clearfix">
            <div class="graphic" style="opacity: 0.96; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/bg_light_blue_1920x800.jpg?KO_lC2eNbDiVxWVi2PHT2Pi3F8XUDqfG');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/rovio_char_mashup_600x800-2_opt.png" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>We’re not your usual bunch of game makers.</h2>
                        <div class="field-body text-highlight">
                            <p>If changing the world game by game does not scare you, join us!</p>
                        </div>
                        <div class="field-link button">
                            <a href="javascript:void(0)" (click)="seePosition()">See positions</a> </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">
            </div>

        </div>
    </div>

    <div class="field field-name-field-module">
        <aside class="node node-highlight no-rovio-color image-right image-v-middle dynamic-height small-margin no-bg no-image  view-mode-full has-txt clearfix">
            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <div class="field-body text-highlight">
                            <p>
                                <a name="open-positions" id="open-positions"></a>
                            </p>
                            <h1 id="openPosition" class="large-h1">Open positions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="view view-vacancies view-id-vacancies view-display-id-archive_page view-dom-id-d6098b55531597e3ebe43b84a8c23462 jquery-once-2-processed">

            <!-- <div class="view-filters">
                <form class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-2-processed" action="/careers" method="get" id="views-exposed-form-vacancies-archive-page" accept-charset="UTF-8">
                    <div>
                        <div class="views-exposed-form">
                            <div class="views-exposed-widgets clearfix">
                                <div id="edit-field-location-channel-tid-wrapper" class="views-exposed-widget views-widget-filter-field_location_channel_tid">
                                    <label for="edit-field-location-channel-tid">
            Location          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-field-location-channel-tid">
                                            <select id="edit-field-location-channel-tid" name="field_location_channel_tid" class="form-select"><option value="All" selected="selected">- Any -</option><option value="827">,</option><option value="772">Shanghai, China</option><option value="723">Stockholm, Sweden</option><option value="722">Espoo, Finland</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-field-vacancy-category-tid-wrapper" class="views-exposed-widget views-widget-filter-field_vacancy_category_tid">
                                    <label for="edit-field-vacancy-category-tid">
            Craft          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-field-vacancy-category-tid">
                                            <select id="edit-field-vacancy-category-tid" name="field_vacancy_category_tid" class="form-select"><option value="All" selected="selected">- Any -</option><option value="822">Ad Monetization</option><option value="814">Art</option><option value="813">Data Science and Engineering</option><option value="810">Design</option><option value="815">DevOps</option><option value="809">Game Development</option><option value="808">HR</option><option value="807">Marketing</option><option value="812">Office &amp; Admin support</option><option value="811">PR &amp; Comms</option><option value="817">Product Management</option><option value="816">Production</option><option value="819">Quality Assurance</option><option value="823">Server Development</option><option value="821">User Acquisition</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-exposed-widget views-submit-button">
                                    <input class="ctools-use-ajax ctools-auto-submit-click js-hide form-submit" type="submit" id="edit-submit-vacancies" name="" value="Filter"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->

            <div class="view-content">
                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/39256-rovio-senior-game-artist-stockholm-studio/" target="_blank">Senior Game Artist (Stockholm Studio)</a></h2>
                    </header>
                    <p class="teaser">Are you an artist passionate about making commercially successful games, creating good looking, user friendly and consistent mobile art that delight...<a href="https://emp.jobylon.com/jobs/39256-rovio-senior-game-artist-stockholm-studio/"
                            class="more-link" target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/41249-rovio-senior-technical-artist-stockholm-studio/" target="_blank">Senior Technical Artist (Stockholm Studio)</a></h2>
                    </header>
                    <p class="teaser">Are you a technical artist passionate about creating commercially successful games that look fantastic, push the boundaries of mobile tech and...<a href="https://emp.jobylon.com/jobs/41249-rovio-senior-technical-artist-stockholm-studio/"
                            class="more-link" target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/34013-rovio-backend-programmer-stockholm-studio/" target="_blank">Backend Programmer (Stockholm Studio)</a></h2>
                    </header>
                    <p class="teaser">We are looking for a Backend Programmer to join our talented RPG Studio to work with our top performing games. The Rovio Stockholm Studio is behind...<a href="https://emp.jobylon.com/jobs/34013-rovio-backend-programmer-stockholm-studio/"
                            class="more-link" target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/41801-rovio-data-analyst/" target="_blank">Data Analyst</a></h2>
                    </header>
                    <p class="teaser">We are looking for a Data Analyst to work with our User Acquisition team, the passionate squad pushing the growth of our games including our hugely...<a href="https://emp.jobylon.com/jobs/41801-rovio-data-analyst/" class="more-link"
                            target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/41587-rovio-senior-marketing-manager-web/" target="_blank">Senior Marketing Manager, Web</a></h2>
                    </header>
                    <p class="teaser">We are looking for a highly strategic thinker with an audience-first mindset for the role of Senior Marketing Manager, Web. You are an expert on web...<a href="https://emp.jobylon.com/jobs/41587-rovio-senior-marketing-manager-web/"
                            class="more-link" target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/41743-rovio-devops-engineer/" target="_blank">DevOps Engineer</a></h2>
                    </header>
                    <p class="teaser">Welcome to Rovio! We are now looking for a DevOps Engineer to join our dynamic team in Espoo, Finland. Rovio Games Technology is a team of 50...<a href="https://emp.jobylon.com/jobs/41743-rovio-devops-engineer/" class="more-link" target="_blank">Read more</a></p>
                </article>

                <article role="article" class="article node node-vacancy node-teaser no-image view-mode-teaser clearfix">
                    <header>

                        <h2><a href="https://emp.jobylon.com/jobs/40641-rovio-narrative-director/" target="_blank">Narrative Director</a></h2>
                    </header>
                    <p class="teaser">As a Narrative Director, you will define and lead the narrative craft at Puzzle studio and at Rovio. Puzzle studio is the home of the passionate team...<a href="https://emp.jobylon.com/jobs/40641-rovio-narrative-director/" class="more-link"
                            target="_blank">Read more</a></p>
                </article>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>