<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight rovio-green rovio-color image-right image-v-middle has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.80; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/pattern_04.jpg');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Loved characters need best products</h2>
                        <div class="field-body text-highlight">
                            <p>Our business is to delight fans. With trusted partners we can make it happen.</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://www.rovio.com/contact-b2b">Contact us</a> </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">



                <div class="field-body element-invisible">
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom full-width-txt no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Licensees</h2>
                        <div class="field-body text-highlight">
                            <p>The Angry Birds brand has always been about vivid, fun characters, with a playful history of wandering far outside the original game and into the physical world.</p>

                            <p>The Angry Birds licensing program, encompassing everything from plush toys to live-action slingshot games, is a thriving business with more than 400 licensees around the world. Interested in teaming up with us to extend the
                                Angry Birds brand experience in fun and cool ways? Contact your local licensing agent!</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight rovio-green rovio-color image-right image-v-bottom full-width-txt no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Products</h2>
                        <div class="field-body text-highlight">
                            <p>We work hand in hand with licensees to produce consumer products that stay true to the Angry Birds brand experience and delight our fans.</p>

                            <p>We also work to ensure the safety and quality of our branded products, as well as their safe and ethical manufacture. Rovio and its licensees are committed to the UN Universal Declaration of Human Rights and the Core Conventions
                                of the International Labor Organization.</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</main>

<app-footer></app-footer>