<main id="main" class="no-sidebar" role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investor_highlight_bgr_orange.jpg?u_cba4Wzj.2AiMNjJ.r8SKAfpD30lj52');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Investor calendar</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <p><iframe class="responsive" frameborder="0" id="RovioId3" scrolling="no" src="https://otp.tools.investis.com/clients/fi/rovio/EventCalendar/EventCalendar.aspx?culture=en-US" width="100%" style="overflow: hidden; height: 1300px;"></iframe></p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>