<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-left image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.80; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/rovio_bg.jpg?Xnuki_3av3nHfOgRn36R.WiQjsHmYpqj');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/red_600x800.png?Lk5qB9gwDvGDAXCb6bLOdTYvW55Q5cbp" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Investors</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <h1>Welcome to Rovio’s investor pages</h1>
                    <p>&nbsp;</p>
                    <p>Rovio is a global games-first entertainment company that creates, develops and publishes mobile games and acts as a brand licensor in various entertainment and consumer product categories. The Company is best known for creating the
                        global Angry Birds brand, which started from a popular mobile game and has expanded into multiple other games, animated series, The Angry Birds Movie, activity parks and various consumer products.</p>

                    <p><iframe class="responsive" frameborder="0" id="RovioId3" scrolling="no" src="https://irs.tools.investis.com/Clients/fi/rovio/Ticker/ticker.aspx?culture=en-US" width="100%" style="overflow: hidden; height: 159px;"></iframe></p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <div class="view view-nasdaq-releases view-id-nasdaq_releases view-display-id-stock_releases view-dom-id-c38adce6475904656d226ace907d3df9">

            <div class="view-filters">
                <form class="ctools-auto-submit-full-form ctools-auto-submit-processed" action="/investors" method="get" id="views-exposed-form-nasdaq-releases-stock-releases" accept-charset="UTF-8">
                    <div>
                        <div class="views-exposed-form">
                            <div class="views-exposed-widgets clearfix">
                                <div id="edit-date-filter-1-wrapper" class="views-exposed-widget views-widget-filter-date_filter_1">
                                    <label for="edit-date-filter-1">
            Year          </label>
                                    <div class="views-widget">
                                        <div id="edit-date-filter-value-wrapper">
                                            <div id="edit-date-filter-value-inside-wrapper">
                                                <div class="container-inline-date">
                                                    <div class="form-item form-type-date-select form-item-date-filter-1-value">
                                                        <div id="edit-date-filter-1-value" class="date-padding clearfix">
                                                            <div class="form-item form-type-select form-item-date-filter-1-value-year">
                                                                <label class="element-invisible" for="edit-date-filter-1-value-year">Year </label>
                                                                <div class="date-year"><select class="date-year form-select" id="edit-date-filter-1-value-year" name="date_filter_1[value][year]"><option value="" selected="selected">-Year</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option></select></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-language-wrapper" class="views-exposed-widget views-widget-filter-language">
                                    <label for="edit-language">
            Language          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-language">
                                            <select id="edit-language" name="language" class="form-select required"><option value="en" selected="selected">English</option><option value="fi">Finnish</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-field-release-category-tid-i18n-wrapper" class="views-exposed-widget views-widget-filter-field_release_category_tid_i18n">
                                    <label for="edit-field-release-category-tid-i18n">
            Release type          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-field-release-category-tid-i18n">
                                            <select id="edit-field-release-category-tid-i18n" name="field_release_category_tid_i18n" class="form-select"><option value="All">- Any -</option><option value="780">General press release</option><option value="779">Managers Transactions Release</option><option value="777">Stock Exchange Releases</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-exposed-widget views-submit-button">
                                    <!-- <input class="ctools-use-ajax ctools-auto-submit-click js-hide form-submit" type="submit" id="edit-submit-nasdaq-releases" name="" value="Filter"> -->
                                    <div class="text-container">
                                        <div class="button"><a href="/investors/subscribe-releases">Subscribe to releases</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="view-content">

                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">13.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-12">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation. Stock Exchange Release June 13, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-12"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">10.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-11">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation. Stock Exchange Release June 10, 2019 at 1 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-11"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">6.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-10">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation Stock Exchange Release June 6, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-10"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">6.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-9">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation Stock Exchange Release June 6, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-9"
                            class="more-link">Read more</a></p>
                </article>

            </div>

            <ul class="pager">
                <li class="pager-previous first">&nbsp;</li>
                <li class="pager-current">1 of 49</li>
                <li class="pager-next last"><a title="Go to next page" href="/investors?language=en&amp;page=1">next ›</a></li>
            </ul>




        </div>
        <aside class="node node-highlight no-rovio-color image-left image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/rovio_investment_bgr.jpg?CUciumjgn7KIjYPP_oWlmCsyama78DMl');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/rovio_as_investment_600x800.png?kMKK8aqbUodOM6C8VDJKD5vLhUSAG0sJ" width="600" height="800" alt="Rovio as an investment" title="Rovio as an investment"></div>
                    <div class="text-container">
                        <h2>Rovio as an investment</h2>
                        <div class="field-link button">
                            <a href="https://www.rovio.com/investors/rovio-as-an-investment">Read more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-bottom has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_yellow.jpg?_7DfPOHZa97iYjBBiXYGLzNmeiYVTw7v');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/piirakka_600x800_2.png?4qsXZC8xdsH_Z3oIBMYltPTngaIY72ln" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Financials</h2>
                        <div class="field-body text-highlight">
                            <p>Key figures of Rovio's business</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://www.rovio.com/investors/financials">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-left image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/pattern_rovioshare.jpg?EUPW1wPSSOWLTV.vruZVOwPfLpXM7xMh');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/rovio_share_600x800.png?f8qgY7nJRSLPFcHGtxNw4gnV17GcdTGa" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Rovio share</h2>
                        <div class="field-body text-highlight">
                            <p>Share monitor and information about Rovio’s share</p>
                        </div>

                        <div class="field-link button">
                            <a href="https://www.rovio.com/investors/rovio-share">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-middle dynamic-height has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_purple.jpg?kjULlIxjd5UJ1kbIjB8tvjLYHrT5uC9w');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/pesa_600x800.png?MpakUvsUP1DcIy0EuW6DVSsWbMawoQBE" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Shareholders</h2>
                        <div class="field-body text-highlight">
                            <p>Rovio's shareholders</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://www.rovio.com/investors/shareholders">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-left image-v-middle dynamic-height has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_blue.jpg?xHrcV8eX55HKQSB3hlHWDdMKEEeJOssD');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/gov_600x800.png?lb4B.0cZqt1t5nICC52k.FhnouL2FKLK" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Governance</h2>
                        <div class="field-body text-highlight">
                            <p>Rovio corporate governance and management</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://www.rovio.com/investors/governance">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_green.jpg?TA6LwCHsrQA5fZhZ_wApDSC5ihYuevv7');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/mighty_600x800.png?MvVPXzhTAPWbtSlDBpIfd6zUpVIPgNQg" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Releases and publications</h2>
                        <div class="field-body text-highlight">
                            <p>Latest releases and&nbsp;publications</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://www.rovio.com/investors/releases-and-publications">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-left image-v-bottom has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investor_highlight_bgr_orange.jpg?u_cba4Wzj.2AiMNjJ.r8SKAfpD30lj52');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/kalenteri_600x800_2.png?IjwA5FKRUvY5eZtK8rMB2J58xclX6X3p" width="600" height="800" alt="Investor calendar" title="Investor calendar"></div>
                    <div class="text-container">
                        <h2>Investor calendar</h2>
                        <div class="field-body text-highlight">
                            <p>Important dates</p>
                        </div>

                        <div class="field-link button">
                            <a href="https://www.rovio.com/investors-investor-calendar">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/pattern_investor_relatiosn.jpg?p4fGdoKEwXq4zFfkhoSpvB6mnjnJX6yG');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/invastor_relations_600x800.png?cphk2rVTkF5ZCZ.z1VMAPnW462tB1hdU" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Investor relations</h2>
                        <div class="field-body text-highlight">
                            <p>IR contacts and policies</p>
                        </div>

                        <div class="field-link button">
                            <a href="https://www.rovio.com/investors/investor-relations">Learn more</a> </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</main>

<app-footer></app-footer>