<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_green.jpg?TA6LwCHsrQA5fZhZ_wApDSC5ihYuevv7');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Releases and publications</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <h1>Publications</h1>

                    <p>The recordings of financial results&nbsp;webcasts can be found in the <a href="https://www.rovio.com/investors-investor-calendar">Investor Calendar</a> (Past events)</p>

                    <h2>2019</h2>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/2019_jan-mar_interim_report.pdf" target="_blank">Rovio Entertainment Corp. Q1 2019 presentation</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_q1-2019_interim_report_eng.pdf" target="_blank">Rovio Entertainment Corp.&nbsp;Q1 2019 Interim Report</a></p>

                    <h2>2018</h2>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/rovio_cr_report_2018_0.pdf?rMr_gsaazKRGgFvjWc1oYbCponYlyaas" target="_blank">Corporate Responsibility Report 2018</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_annual_report_2018_pdf_1.pdf?uVnRHgyHvx7UPjVo_q74DDdLhFhFolBz" target="_blank">Annual Report 2018</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_corporate_governance_statement_2018_1.pdf?gCZm.uM01_Hq6vaJiQiHOa5D1TExKBDa" target="_blank">Corporate Governance Statement 2018</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_remuneration_report_2018.pdf_1.pdf?xRpYf.Yq5zrYoS5COD67JLqPP_QYq17D" target="_blank">Remuneration Report 2018</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_financial_bulletin_q4-2018.pdf?Bb4VYgp5HGB87Krg4EPOChyVcyE903_x" target="_blank">Rovio Entertainment Corp. Financial Statement Bulletin 2018 presentation</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/rovio_q4-2018_financial_statement_bulletin.pdf?xDg3xGPxExX0tzx5Kru52FlptbykJM1X" target="_blank">Rovio Entertainment Corp. Financial Statement Bulletin for 2018</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/interim_report_jan-sep_2018.pdf?a15D4rotoHyZaZozAnmtigTWrgTyafik" target="_blank">Rovio Entertainment Corp. Q3 2018 presentation</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/rovio_q3-2018_interim_report-eng.pdf?4xR67Hukf_I0Ceey2jOTch4nkf_92CCO" target="_blank">Rovio Entertainment Corp.&nbsp;Q3 2018 Interim Report</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/rovio_q2-2018_interim_report.pdf?AQnMFQIkR8MJmvQUy11w.Jc8KCofIrKi" target="_blank">Rovio Entertainment Corp.&nbsp;Half Year Financial Report 2018</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/interim_report_april_-_june_2018_.pdf?AF707_uoqPkoY.brJQTYEUtX2u0zUETH" target="_blank">Rovio Entertainment Corp. Half Year Financial Report 2018 presentation</a></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/Interim-report/interim_report_for_january-march_2018.pdf?2HYrh8Sy1KYNvqDT86REMNCP8m6ha250" target="_blank">Rovio Entertainment Corp. Q1 2018 Interim Report presentation</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/q118_report.pdf" target="_blank">Rovio Entertainment Corp. Q1 2018 Interim Report</a></p>

                    <h2>2017</h2>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/rovio_responsibilityreport_final.pdf?rKKwVNi_6QfElMAC3.eO2Kvh03rSDvdF" target="_blank">Corporate Responsibility Report 2017</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/rovio_annual_report_2017.pdf?bs9Q.P93zvsA7EsVmvTFIRa1vu6jt9Sn" target="_blank">Annual Report 2017</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/rovio_corporate_governance_statement_2017.pdf?J4_bl.2kZq9iU65ENmxtRpurWlr1WBB3" target="_blank">Corporate Governance Statement 2017</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/rovio_remuneration_report_2017.pdf?h473r4CfU7MPAXXTPTouDdu8W3wLlWSI" target="_blank">Remuneration Report 2017</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/rovio_q42017_presentation_final.pdf?WJ3wI5I1eHhScxPjUKADZm1ek0orBbYq" target="_blank">Rovio Entertainment Corp. Financial Statements 2017 presentation</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/rovio_financial_statement_bulletin_020318.pdf?vm5ubybIadUwuPGNR_zMblK9wbvuuq.a" target="_blank">Rovio Entertainment Corp. Financial Statement Bulletin for 2017</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/rovio_interim_report_q3-2017.pdf?hQSgav4TqZolsHzRbPXQI6_bA.pVieAM" target="_blank">Rovio Entertainment Corp. Q3 2017 Interim Report</a></p>

                    <p><a href="https://assets-production.rovio.com/s3fs-public/Interim-report/rovio_q32017_presention.pdf?V3H8jDrdI6nGqQwckRqG7er4AHl_kjgR" target="_blank">Rovio Entertainment Corp. Q3 2017 Interim Report presentation</a></p>

                    <h1>&nbsp;</h1>

                    <h1>Releases</h1>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <div class="view view-nasdaq-releases view-id-nasdaq_releases view-display-id-stock_releases view-dom-id-2c82d7cd22f462727d002c173196c0ab">

            <div class="view-filters">
                <form class="ctools-auto-submit-full-form ctools-auto-submit-processed" action="/investors/releases-and-publications" method="get" id="views-exposed-form-nasdaq-releases-stock-releases" accept-charset="UTF-8">
                    <div>
                        <div class="views-exposed-form">
                            <div class="views-exposed-widgets clearfix">
                                <div id="edit-date-filter-1-wrapper" class="views-exposed-widget views-widget-filter-date_filter_1">
                                    <label for="edit-date-filter-1">
              Year          </label>
                                    <div class="views-widget">
                                        <div id="edit-date-filter-value-wrapper">
                                            <div id="edit-date-filter-value-inside-wrapper">
                                                <div class="container-inline-date">
                                                    <div class="form-item form-type-date-select form-item-date-filter-1-value">
                                                        <div id="edit-date-filter-1-value" class="date-padding clearfix">
                                                            <div class="form-item form-type-select form-item-date-filter-1-value-year">
                                                                <label class="element-invisible" for="edit-date-filter-1-value-year">Year </label>
                                                                <div class="date-year"><select class="date-year form-select" id="edit-date-filter-1-value-year" name="date_filter_1[value][year]"><option value="" selected="selected">-Year</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option></select></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-language-wrapper" class="views-exposed-widget views-widget-filter-language">
                                    <label for="edit-language">
              Language          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-language">
                                            <select id="edit-language" name="language" class="form-select required"><option value="en" selected="selected">English</option><option value="fi">Finnish</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit-field-release-category-tid-i18n-wrapper" class="views-exposed-widget views-widget-filter-field_release_category_tid_i18n">
                                    <label for="edit-field-release-category-tid-i18n">
              Release type          </label>
                                    <div class="views-widget">
                                        <div class="form-item form-type-select form-item-field-release-category-tid-i18n">
                                            <select id="edit-field-release-category-tid-i18n" name="field_release_category_tid_i18n" class="form-select"><option value="All">- Any -</option><option value="780">General press release</option><option value="779">Managers Transactions Release</option><option value="777">Stock Exchange Releases</option></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="views-exposed-widget views-submit-button">
                                    <input class="ctools-use-ajax ctools-auto-submit-click js-hide form-submit" type="submit" id="edit-submit-nasdaq-releases" name="" value="Filter">
                                    <div class="text-container">
                                        <div class="button"><a href="/investors/subscribe-releases">Subscribe to releases</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="view-content">

                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">13.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-12">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation. Stock Exchange Release June 13, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-12"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">10.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-11">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation. Stock Exchange Release June 10, 2019 at 1 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-11"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">6.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-10">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation Stock Exchange Release June 6, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-10"
                            class="more-link">Read more</a></p>
                </article>


                <article class="article node node-nasdaq-release node-promoted node-teaser no-image view-mode-teaser clearfix">



                    <header>
                        <p class="date">6.6.2019</p>
                        <h2><a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-9">Rovio Entertainment Corp.: Management transactions</a></h2>
                    </header>
                    <p class="teaser">Rovio Entertainment Corporation Stock Exchange Release June 6, 2019 at 2.30 p.m. EEST Rovio Entertainment Corporation: Management transactions Person...<a href="/investors/releases-and-publications/rovio-entertainment-corp-management-transactions-9"
                            class="more-link">Read more</a></p>
                </article>

            </div>

            <ul class="pager">
                <li class="pager-previous first">&nbsp;</li>
                <li class="pager-current">1 of 49</li>
                <li class="pager-next last"><a title="Go to next page" href="/investors/releases-and-publications?language=en&amp;page=1">next ›</a></li>
            </ul>




        </div>
    </div>
</main>

<app-footer></app-footer>