<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight rovio-yellow rovio-color image-right image-v-bottom no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <div class="field-body text-highlight">
                            <h1 class="large-h1">Looking for help?</h1>

                            <p>If you are looking for help on our products, check our support page.&nbsp; If you are looking for business opportunities, you can contact us <a href="https://www.rovio.com/contact-b2b">here</a>.</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://support.rovio.com">Support Page</a> </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">


            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <aside class="node node-highlight no-rovio-color has-map image-right image-v-bottom no-bg no-image  view-mode-full no-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div id="leaflet-map" style="height: 600px; position: relative;" class="leaflet-container leaflet-fade-anim" tabindex="0">
                        <div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="leaflet-tile-pane">
                                <div class="leaflet-layer" style="z-index: 1;">
                                    <div class="leaflet-tile-container"></div>
                                    <div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded" src="//mt2.googleapis.com/vt?x=37288&amp;y=18966&amp;z=16" style="height: 256px; width: 256px; left: 464px; top: 43px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt3.googleapis.com/vt?x=37289&amp;y=18966&amp;z=16"
                                            style="height: 256px; width: 256px; left: 720px; top: 43px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt3.googleapis.com/vt?x=37288&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: 464px; top: 299px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37289&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: 720px; top: 299px;"><img class="leaflet-tile leaflet-tile-loaded"
                                            src="//mt1.googleapis.com/vt?x=37288&amp;y=18965&amp;z=16" style="height: 256px; width: 256px; left: 464px; top: -213px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt2.googleapis.com/vt?x=37289&amp;y=18965&amp;z=16"
                                            style="height: 256px; width: 256px; left: 720px; top: -213px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt1.googleapis.com/vt?x=37287&amp;y=18966&amp;z=16" style="height: 256px; width: 256px; left: 208px; top: 43px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37290&amp;y=18966&amp;z=16" style="height: 256px; width: 256px; left: 976px; top: 43px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt2.googleapis.com/vt?x=37287&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: 208px; top: 299px;"><img class="leaflet-tile leaflet-tile-loaded"
                                            src="//mt1.googleapis.com/vt?x=37290&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: 976px; top: 299px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37288&amp;y=18968&amp;z=16"
                                            style="height: 256px; width: 256px; left: 464px; top: 555px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt1.googleapis.com/vt?x=37289&amp;y=18968&amp;z=16" style="height: 256px; width: 256px; left: 720px; top: 555px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37287&amp;y=18965&amp;z=16" style="height: 256px; width: 256px; left: 208px; top: -213px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt3.googleapis.com/vt?x=37290&amp;y=18965&amp;z=16" style="height: 256px; width: 256px; left: 976px; top: -213px;"><img class="leaflet-tile leaflet-tile-loaded"
                                            src="//mt3.googleapis.com/vt?x=37287&amp;y=18968&amp;z=16" style="height: 256px; width: 256px; left: 208px; top: 555px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt2.googleapis.com/vt?x=37290&amp;y=18968&amp;z=16"
                                            style="height: 256px; width: 256px; left: 976px; top: 555px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37286&amp;y=18966&amp;z=16" style="height: 256px; width: 256px; left: -48px; top: 43px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt1.googleapis.com/vt?x=37291&amp;y=18966&amp;z=16" style="height: 256px; width: 256px; left: 1232px; top: 43px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt1.googleapis.com/vt?x=37286&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: -48px; top: 299px;"><img class="leaflet-tile leaflet-tile-loaded"
                                            src="//mt2.googleapis.com/vt?x=37291&amp;y=18967&amp;z=16" style="height: 256px; width: 256px; left: 1232px; top: 299px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt3.googleapis.com/vt?x=37286&amp;y=18965&amp;z=16"
                                            style="height: 256px; width: 256px; left: -48px; top: -213px;"><img class="leaflet-tile leaflet-tile-loaded" src="//mt0.googleapis.com/vt?x=37291&amp;y=18965&amp;z=16" style="height: 256px; width: 256px; left: 1232px; top: -213px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt2.googleapis.com/vt?x=37286&amp;y=18968&amp;z=16" style="height: 256px; width: 256px; left: -48px; top: 555px;">
                                        <img class="leaflet-tile leaflet-tile-loaded" src="//mt3.googleapis.com/vt?x=37291&amp;y=18968&amp;z=16" style="height: 256px; width: 256px; left: 1232px; top: 555px;"></div>
                                </div>
                            </div>
                            <div class="leaflet-objects-pane">
                                <div class="leaflet-shadow-pane"></div>
                                <div class="leaflet-overlay-pane"></div>
                                <div class="leaflet-marker-pane"><img src="/sites/all/themes/custom/rovio/logo_map.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable" tabindex="0" style="transform: translate3d(674px, 300px, 0px); z-index: 300;"></div>
                                <div class="leaflet-popup-pane"></div>
                            </div>
                        </div>
                        <div class="leaflet-control-container">
                            <div class="leaflet-top leaflet-left">
                                <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div>
                            </div>
                            <div class="leaflet-top leaflet-right">
                                <div class="leaflet-control-layers leaflet-control" aria-haspopup="true">
                                    <a class="leaflet-control-layers-toggle" href="#" title="Layers"></a>
                                    <form class="leaflet-control-layers-list">
                                        <div class="leaflet-control-layers-base"><label><input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers" checked="checked"><span> roadmap</span></label><label><input type="radio" class="leaflet-control-layers-selector" name="leaflet-base-layers"><span> terrain</span></label></div>
                                        <div class="leaflet-control-layers-separator" style="display: none;"></div>
                                        <div class="leaflet-control-layers-overlays"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="leaflet-bottom leaflet-left"></div>
                            <div class="leaflet-bottom leaflet-right">
                                <div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | Map data © <a target="attr" href="http://googlemaps.com">Google</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-bottom no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Rovio Entertainment Corporation</h2>
                        <div class="field-body text-highlight">
                            <h4 class="rtecenter">Keilaranta 7<br> FI-02150 ESPOO<br> FINLAND
                            </h4>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">Please visit us at the following links below, depending on the nature of your enquiry.</p>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">For player support requests, please contact us by visiting our <a href="https://support.rovio.com/hc/en-us" style="color:#FF0000;">Support page</a> and selecting the correct game title.</p>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">For business opportunities, please contact us via <a href="https://www.rovio.com/contact-b2b" style="color:#FF0000;">https://www.rovio.com/contact-b2b</a></p>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">For questions about our range of consumer products, please visit <a href="https://rov.io/ProductsFAQ" style="color:#FF0000;" target="_blank">https://rov.io/ProductsFAQ</a></p>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">For press and media enquiries, please contact us at <a href="mailto:comms@rovio.com" style="color:#FF0000;">comms@rovio.com</a></p>

                            <p class="rtecenter" style="font-size: 16px; font-weight: 200; margin: 16px 0;">For job opportunities please visit <a href="https://www.rovio.com/careers" style="color:#FF0000;">https://www.rovio.com/careers</a></p>

                            <h4 class="rtecenter">Tel: +358 207 888 300<br> Fax: +358 207 888 333</h4>

                            <h4 class="rtecenter">business id: 1863026-2</h4>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-bottom no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <div class="field-body text-highlight">
                            <h4 class="rtecenter">
                                <a href="http://www.usk.de/Mitglieder/" target="_blank"><img alt="USK" title="USK" height="75" width="75" class="media-element file-default" src="https://assets-production.rovio.com/s3fs-public/uskjugendschutz75.png"></a>
                            </h4>

                            <p class="rtecenter">Die Rovio Entertainment Ltd. ist Mitglied der Unterhaltungssoftware Selbstkontrolle.<br> Rovio Entertainment Ltd. is member of the German Entertainment Software Self-Regulation Body (USK)</p>

                            <p class="rtecenter">Jugendschutzbeauftragter / Youth Protection Officer: Robert Hagelstam (youth-protection<img height="15" width="17" class="media-element file-default" src="https://assets-production.rovio.com/s3fs-public/at-merkki.png" alt="">rovio.com)</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</main>

<app-footer></app-footer>