<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Backgrounds/bg_red_eyes_0.jpg?lXuDwb39O0TUdEb4Kc1Q9nWIu5jJKH75');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>&nbsp; &nbsp;</h2>
                        <div class="field-body text-highlight">
                            <p>&nbsp; &nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">


            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <aside class="node node-highlight no-rovio-color image-right image-v-middle no-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/mighty.png" width="600" height="800" alt="Mighty Eagle" title="Mighty Eagle"></div>
                    <div class="text-container">
                        <h2>About us</h2>
                        <div class="field-body text-highlight">
                            <p>Rovio Entertainment Corporation is a Finnish, games-first entertainment company, that creates, develops and publishes mobile games and acts as a brand licensor in various entertainment and consumer product categories. The Company
                                is best known for the global Angry Birds brand, which started from a popular mobile game in 2009.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight rovio-red rovio-color image-left image-v-bottom no-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/billy.png" width="600" height="800" alt="Billy" title="Billy"></div>
                    <div class="text-container">
                        <h2>Today...</h2>
                        <div class="field-body text-highlight">
                            <p>The Company offers multiple mobile games, has produced The Angry Birds Movie, which opened number one in theatres in 50 countries, and licenses the Angry Birds brand to consumer products and other entertainment content. The
                                sequel to the animated blockbuster movie is planned to hit cinemas in September 2019. Rovio is headquartered in Espoo, Finland, and has operations also in US, UK, Sweden and China.</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-bottom no-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/movie_group_shot.png" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Corporate Social Responsibility</h2>
                        <div class="field-body text-highlight">
                            <p>While Rovio is a company that is known for fun and games, we take corporate social responsibility very seriously. By focusing on consumer safety, online privacy protection, human rights, labor rights, and environmental issues
                                in all that we do, we strive to do the good in the world that our customers, and employees, deserve and expect.</p>
                        </div>

                        <div class="field-link button">
                            <a href="http://assets-production.rovio.com/s3fs-public/rovio_responsibilityreport_final.pdf?rKKwVNi_6QfElMAC3.eO2Kvh03rSDvdF&amp;_ga=2.41091874.1489391696.1534747215-818267564.1511257778">CSR</a> </div>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</main>

<app-footer></app-footer>