<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/investors_bgr_purple.jpg?kjULlIxjd5UJ1kbIjB8tvjLYHrT5uC9w');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Shareholders</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <p><iframe class="responsive" frameborder="0" id="shareholders1" scrolling="no" src="https://irs.tools.investis.com/Clients/fi/rovio/ShareHolder/ShareHolder.html?culture=en-US" width="100%" style="overflow: hidden;"></iframe></p>

                    <p><iframe class="responsive" frameborder="0" id="shareholders2" scrolling="no" src="https://irs.tools.investis.com/Clients/fi/rovio/ShareHolder/Sectors.html?culture=en-US" width="100%" style="overflow: hidden; height: 1173px;"></iframe></p>

                    <p><iframe class="responsive" frameborder="0" id="shareholders3" scrolling="no" src="https://irs.tools.investis.com/Clients/fi/rovio/ShareHolder/Numbers.html?culture=en-US" width="100%" style="overflow: hidden; height: 1282px;"></iframe></p>

                    <p><a href="https://www.rovio.com/investors/shareholders/10-largest-shareholders-of-the-company-before-the-IPO">The ten largest registered shareholders of the Company and their shares of ownership before the Initial Public Offering</a></p>

                    <h2>Flagging notifications</h2>

                    <p>Under certain circumstances, shareholders have an obligation to notify both the Financial Supervisory Authority and Rovio of any changes in their holdings and voting rights. Rovio has in turn an obligation to publicly disclose the
                        shareholder’s notification.</p>

                    <p>The Securities Markets Act specifies the thresholds for submitting a flagging notification. A notification must be made when the holding reaches or exceeds or, alternatively, falls below 5, 10, 15, 20, 25, 30, 50 or 90 percent, or
                        two thirds (2/3), of the voting rights or number of shares of the company.</p>

                    <p>The objective of the regulation on the notification obligation is to ensure that shareholders have access to information on the ownership and power structures of a listed company and any changes therein. Considering the material impact
                        that flagging information may have on the value of a listed company’s shares, notifications give investors an opportunity to equal access to information.</p>

                    <p>A flagging notification must be submitted without undue delay, but no later than on the trading day following a breach of the notification threshold. Flagging notifications must be sent to Rovio using email address flagging@rovio.com.
                        Flagging notifications must be sent to the Financial Supervisory Authority according to its guidelines.</p>

                    <p>More information on the <a href="http://www.finanssivalvonta.fi/fi/Listayhtiolle/Liputus/Pages/Default.aspx" target="_blank">website of the Financial Supervisory Authority</a>.</p>

                    <h2>Management transactions</h2>

                    <p>Persons discharging managerial responsibilities in Rovio as well as persons closely associated with them have an individual obligation to notify the company and the FSA of transactions conducted on their own account relating to the
                        shares or debt instruments of the company or other financial instruments or derivatives linked thereto.</p>

                    <p>A notification shall be made by the managers and their related parties promptly and no later than three (3) business days after the date of the transaction to the company and the FSA. The company has an obligation to disclose the received
                        notification in the form of a stock exchange release, which is submitted to the central media, the FSA and Nasdaq Helsinki promptly and no later than three (3) business days after the date of the transaction. The Company posts
                        and maintains all published notifications on its website for a period of at least five (5) years.</p>

                    <p>In order to reserve sufficient time for the Company to process notifications, all notifications by the managers, or by their related parties, should be submitted immediately and no later than two (2) business days following the transaction.
                        The Company recommends an advance notice to be submitted of prospective transactions, if possible.</p>

                    <h4>Making the notification</h4>

                    <p>The transactions shall be notified to FSA by sending the required information in the notification form available on <a href="http://www.finanssivalvonta.fi/en/Regulation/International_Projects/mar/transactions/Pages/Default.aspx" target="_blank">FSA's website</a>.</p>

                    <p>The form is sent to FSA <a href="https://securemail.bof.fi" target="_blank">via secure email</a> to johdonkaupat@finanssivalvonta.fi and the Company to flagging@rovio.com.</p>

                    <p>The notification must contain the following information regarding Rovio:</p>

                    <ul>
                        <li>the LEI-identifier of the Company: 743700H95H3OPXDV6568</li>
                        <li>ISIN code: FI4000266804, if the notification regards such financial instrument of the company, which are subject to public trading (e.g.<em>, </em>Rovio's shares). Otherwise it is noted, that the financial instrument does not have
                            ISIN code.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>