<main id="main" class="no-sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">



                <div class="field-body">
                    <h1>Read our stories</h1>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <div class="view view-image-walls view-id-image_walls view-display-id-block_1 wall view-dom-id-fc2fc1f49453ad1f46fb9c5302f15d8d jquery-once-1-processed">



            <div class="view-content" style="position: relative; height: 900px;">
                <div class="grid-sizer" style="width: 300px;"></div>
                <div role="article" class="ds-1col node node-employee-story has-image view-mode-big clearfix isotope-item" style="position: absolute; left: 0px; top: 0px; padding-bottom: 0px; width: 600px; height: 600px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_big/public/News images/nicole_yang_data_analyst_es.jpg?La_76zqu4EymNd60tEbzqy53c65X5az7');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')" class="group-link">
                            <h2 class="heading-priority-big fit" style="font-size: 41.7391px;">Nicole Yang, Data Analyst</h2>
                            <p class="fit-very-high" style="font-size: 10.9px;">Our Stockholm office is the best.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-victor-lemeshev-2.jpg?SOec2QjOo8VBDWbKORvWJFtDd6fFlilT');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Victor Lemeshev, Senior Backend Developer</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Since early childhood I wanted to be a game developer.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-jesse-lempiainen-3.jpg?CxDDDrCQIQocF6_wzeMSGPmMDS7okvOo');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Jesse Lempiäinen, Marketing Specialist</h2>
                            <p class="fit-very-high" style="font-size: 14px;">When Rovio visited my university and challenged us to create a marketing campaign for a new feature,</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-jenna-linden-3.jpg?nwcKQWfrtgdWdwLUD6y9JvEQjB_QILSF');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Jenna Lindén, HR Coordinator</h2>
                            <p class="fit-very-high" style="font-size: 14px;">After doing some soul searching about the industry I wanted to work in, I found the perfect fit in t</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-matteo-spiri-1.jpg?grTCIxDiFJojvZhg6SR3XQauj9iQ3L8t');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Matteo Spiri, Junior Product Manager</h2>
                            <p class="fit-very-high" style="font-size: 14px;">At Rovio I have the opportunity to give life to our games, creating experiences that players can ret</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 0px; top: 600px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-jan-lidtke-2.jpg?8luXgX6YmKc2MlK4Aeb4dhBrNfSMPLEs');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Jan Lidtke, Art Director</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Making games is awesome, but the good vibes in the office and beautiful Finnish scenery are the icin</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 300px; top: 600px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-marc-olivier-2.jpg?H2hMRpuVLDhdJDi6jiMCQQcphW7Xh62U');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Marc Olivier, Senior Game Designer</h2>
                            <p class="fit-very-high" style="font-size: 14px;">At Rovio, I found that teams have the freedom of an indie and the kind of support only a major devel</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 600px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-pekka-korpela-2.jpg?eLqj5J5WPUc44BJGGvwKLjo.J.qMRP2z');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Pekka Korpela, Marketing Specialist, Brand Licensing</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Every day in Rovio’s Brand Licensing unit is exciting when working with phenomenal brands like Angry</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-employee-story has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 600px; padding-bottom: 0px; width: 300px; height: 300px;">


                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Employee stories/rovio-employee-stories-ric-thorneycroft-1.jpg?B2RB.JrWBlx.Gs9gFNSdUWqj12oAjqSF');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Ric Thorneycroft, Customer Support Manager</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Working at Rovio, and in the dynamic mobile games industry, is all about constantly learning and sha</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

            </div>

            <div class="view-footer">
                <div class="load-more-storage"></div>
            </div>


        </div>
    </div>
</main>

<app-footer></app-footer>