<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-middle dynamic-height has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/pattern_investor_relatiosn.jpg?p4fGdoKEwXq4zFfkhoSpvB6mnjnJX6yG');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Investor relations</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <p>Rovio's Investor Relations serves analysts and investors, and coordinates Rovio's IR meetings and activities.</p>

                    <h2>IR principles</h2>

                    <p>The role of Rovio’s Investor Relations is to ensure that the markets have correct and sufficient information in order to determine the value of the Rovio share by providing up-to-date information about the company's operations, strategy
                        and financial position to the capital markets. Information shared must be communicated equally and simultaneously to all market parties. In its investor communications, Rovio complies with the laws and recommendations that regulate
                        the communications of listed companies.</p>

                    <h2>Silent period</h2>

                    <p>Rovio's silent period begins 30 days before the publication of an interim report, half year report or a financial statements release. During the silent period, Rovio's management or experts do not meet capital market representatives.
                        During the silent period, Rovio does not make statements to the media on the Company’s financial position, markets or future. The silent period ends when the group’s interim report or financial statements release is published.
                        Date and time of the operating results disclosure are published in October or November of the previous year, and they are available on the investor calendar on the Company's investor relations website.</p>

                    <p>If an event occurs during the silent period that requires immediate disclosure, Rovio will disclose the related information without delay in accordance with the provisions concerning the disclosure obligation and may comment on the
                        said event.</p>

                    <h3>Please contact us for more information</h3>

                    <p><img alt="Mikko Setälä" title="Mikko Setälä" height="400" width="300" class="media-element file-default" src="https://assets-production.rovio.com/s3fs-public/Leadership team/mikko-setala.jpg?d1o353Nm98jDick3awTaUH84BPBSgUUy"></p>

                    <p><strong>Mikko Setälä</strong><br> Executive Vice President, Investor Relations
                        <br><a href="mailto:mikko.setala@rovio.com">mikko.setala@rovio.com</a>
                        <br> Tel. +358 400 607 437</p>

                    <p><img height="400" width="300" class="media-element file-default" src="https://assets-production.rovio.com/s3fs-public/minna-eloranta.jpg?1bBD7K8VWrtCuAOqV5cKn8t9zP43S85M" alt=""></p>

                    <p><strong>Minna Eloranta</strong><br> Senior Communications Manager<br><a href="mailto:minna.eloranta@rovio.com">minna.eloranta@rovio.com</a><br> Tel. +358 50 486 2017</p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>