<main id="main" class="no-sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">
            </div>
        </div>
    </div>
    <div class="field field-name-field-module">
        <div class="view view-image-walls view-id-image_walls view-display-id-block_2 wall view-dom-id-c5c74e657aeb69f2f1c1a5d6271e54f6 jquery-once-1-processed">
            <div class="view-content" style="position: relative; height: 600px;">
                <div class="grid-sizer" style="width: 300px;"></div>
                <div role="article" class="ds-1col node node-studio-introductions has-image view-mode-big clearfix isotope-item" style="position: absolute; left: 0px; top: 0px; padding-bottom: 0px; width: 600px; height: 600px;">
                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')" class="group--bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_big/public/Team introductions/puzzle.jpg?x8XpQ8wOiKlGpnCuq9Gh9SHTG.Zuyaqb');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')" class="group-link">
                            <h2 class="heading-priority-big fit" style="font-size: 41.7391px;">Puzzle Studio</h2>
                            <p class="fit-very-high" style="font-size: 16px;">Passion for creating highly accessible casual puzzle games.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-studio-introductions has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Team introductions/stockholm.jpg?x0L7jgU.XdOnYHcULY7o5MAgU0vH43m6');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Stockholm Studio</h2>
                            <p class="fit-very-high" style="font-size: 11.3px;">Creating the next big mobile RPG.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-studio-introductions has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Team introductions/tekkitiimi.jpg?9sWVwF6tLMjWsbCPCPWKcY4QzMF7PHdb');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Games Technology</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Providing industry-leading services and cloud infrastructure for Rovio’s game teams.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-studio-introductions has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/delta.jpg?KjeeFbm2CjDfFxpI1_XYyZ1IHCJBQvEm');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Delta</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Providing Rovio game studios with world-class services.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

                <div role="article" class="ds-1col node node-studio-introductions has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')" class="group-bg-link">
                        <div class="graphic" style="background-image:url('https://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/Team introductions/battle.jpg?G3tH71SYll52_UM0o83aiovCP8nFu7mn');">&nbsp;</div>
                    </a>
                    <div class="text-container">
                        <a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')" class="group-link">
                            <h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Battle Studio</h2>
                            <p class="fit-very-high" style="font-size: 14px;">Building the best competitive multiplayer games for mobile devices.</p><span class="more-link">Read more</span></a>
                    </div>
                </div>

            </div>




            <div class="view-footer">
                <div class="load-more-storage"></div>
            </div>


        </div>
    </div>
</main>

<app-footer></app-footer>