<main *ngIf="id == 'nicole-yang-data-analyst'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Nicole Yang, Data Analyst</h1><span class="date">29.5.2019</span>
                    <p class="ingress">Our Stockholm office is the best. Comfy surroundings, cupcakes, and also working on some of the most popular mobile games in the world. All in a day’s work.</p>
                </header>
                <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/News images/nicole_yang_data_analyst_es.jpg?0redNmvso2S_l.WS5dZc45EPv0BLub2L" width="1201" height="1201" alt="Nicole Yang, Data Analyst at Rovio's Stockholm Studio"></div>
                <p>My Rovio journey started when a recruiter contacted me about a position at one of the most well-known gaming companies in the world. And even though I wasn’t actually looking for a new job, this opportunity felt too interesting to pass
                    up. After a couple of rounds of interviews, I finally got the offer to work as a data analyst in Rovio. Since my start in October 2017, my colleagues in the Stockholm office have really made me feel welcome, and I’m truly impressed
                    with the strong team spirit we have.</p>

                <p>The days start with a stand-up meeting with my closest colleagues where we go through what we’ve done, what is next on the agenda, and we make sure that anyone who needs help, gets it. As a data analyst, my main responsibility consists
                    of finding actionable insights into how to improve the business and drive revenue and retention. To do this, I work together with designers, game leads, and the backend team to explore what issues to focus on. By running A/B tests
                    and measuring event performance, I can then use SQL queries to pull data which is then either visualized using R or our internal dashboard visualization tool. After analyzing the data, insights are shared with the game owner and other
                    stakeholders.
                </p>

                <p>There is of course a lot of work, and a determination in the team to get things done to improve the gaming experience, as well as increase our revenue. But the feeling is that being part of Rovio is more than just a job. At meetings there
                    is almost always “fika” such as very very tasty cupcakes or something similar, and the teammates really care about each other — like the time on a sunny Tuesday morning, when I arrived to my desk to find that someone had left me some
                    nice chocolates and a post-it with a smiley, just because they know how much I love candies and desserts.</p>

                <p>Our studio is located in central Stockholm, and we all walk around without shoes, have comfy sofas, and Fridays always end with a show-and-tell where we get to see what new features and games are being developed while enjoying a beer,
                    or as for me, eating some cupcakes!</p>

                <p>All in all, it’s a pretty great place to work with colleagues from all over the world, getting to work on some of the most popular mobile games in the world, and a lot of opportunities to learn. Oh, and playing games is part of the job.&nbsp;<br>                    &nbsp;
                </p>
            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-1ccc5f730bbcaafb06f2e6061998eeeb">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'victor-lemeshev-senior-backend-developer'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Victor Lemeshev, Senior Backend Developer</h1><span class="date">7.5.2018</span>
                    <p class="ingress">Since early childhood I wanted to be a game developer. It all started with a Spectrum ZX 128K and never ended.</p>
                </header>
                <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-victor-lemeshev-2.jpg?SgbRcORNwTf8hYmV1vJetrLZq2ftc0D0" width="780" height="780" alt="rovio-employee-stories-victor-lemeshev-2.jpg"></div>
                <p>Having played a bit, I started to wonder how to make my own games. Since there were no dedicated game design courses in Russia at the time, I went to study applied mathematics, then to graduate school, and then got carried away to applied
                    mechanics… After my PhD thesis I almost ended up doing science instead of games, but luckily, I got a glimpse of a job in game development and decided to go for it.</p>

                <p>It started in 2010 with a browser game backend written in various fad-du-jour languages and tools - node.js, Redis, and MongoDB (yeah, because it is “web-scale”). After few years and couple of relatively large projects I’ve moved to an
                    &lt;censored&gt; international team that was doing mobile games. I’ve got everything I expected from enterprise and even more - Java, AWS experience, high-load projects, big teams. And an infinite amount of boredom, since corporate
                    game development appeared to be quite inflexible and dull. So, after a while I started to wonder if game development in big companies is really that much fun.</p>

                <p>Enter Rovio. On my very first interview I noticed that people here are really open and friendly (don’t listen to stuff about “too-distant” Finns), I had positive recommendations from my colleagues who knew about Rovio’s internals and after
                    some interrogation I’ve been accepted to the flock. What’s more, the team I was joining is doing very interesting games both gameplay and technology-wise.&nbsp;</p>

                <p>Here in Rovio’s Battle Studio, my team is working on a prototype for an upcoming game. For me this means writing scalable stateful real-time servers with custom network protocol in C++ and client-side networking stuff in Unity/C#. We use
                    quite a rich tech stack, including tight AWS integration and several databases.</p>

                <p>What I personally like most about my job is that I can always expand in new directions, when there is a need for that. The roles here are flexible and I can do client-side stuff when needed, and implement features completely, from feature
                    design to backend to user-visible stuff. The team I’m working with is really talented and motivated so we are getting along really well and that helps with my job a lot. It’s really a lot easier being productive when you are surrounded
                    by nice people. Also, the game we are building is quite feature rich and our game designer has a vivid imagination so there is never a shortage of fun and challenging tasks.</p>

                <p>There are things that I don’t like to do – like preparing build machines and setting up orchestration, but there is no pressure there either. Sometimes you just have to do things because you know they should be done for the team to be
                    productive, much like in a startup. But, unlike a startup, there are a lot of experienced people who can help with advice or ready-made recipes, so routine and not-so-fun things don’t bother me too much.</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-673a7fc0915b613f061594275f7ce161">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'jesse-lempiainen-marketing-specialist'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Jesse Lempiäinen, Marketing Specialist</h1><span class="date">7.5.2018</span>
                    <p class="ingress">When Rovio visited my university and challenged us to create a marketing campaign for a new feature, I got an amazing opportunity to work at Rovio full-time.</p>
                </header>
                <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-jesse-lempiainen-3.jpg?yH4Nber2VPAXRqjMfeUbbO7gji.IYPe1" width="780" height="780"></div>
                <p>I was still in university studying Culture and Arts management when Kai Torstila, head of Rovio's product marketing&nbsp;team, came to our school and gave us an awesome opportunity: design a marketing campaign for the upcoming feature
                    “Mighty League” in Angry Birds. The winning team would get the opportunity to visit Rovio to have lunch with Kai and Peter Vesterbacka. At that moment I decided that I want to win this competition and nail down a job at Rovio.</p>

                <p>Things happened exactly as I wished and I was able to get the opportunity to work as a summer trainee and do marketing for Angry Birds Friends. Rovio was everything and nothing that I expected. What struck me the most was the amount of
                    responsibilities that I got during the first weeks. I&nbsp;guess it’s not every summer job where you’re in charge of coming up with crazy ideas like, <a href="https://www.facebook.com/angrybirds/photos/a.428114379927.205212.314467614927/10154513689099928/?type=3&amp;theater"
                        target="_blank">Pigs dressed up in bikinis celebrating national bikini day</a>, create that picture and post that to 25 million followers, all by yourself.</p>

                <p>Now working as a marketing manager for games, I have many opportunities to do cool stuff and work with partners. During my two years at Rovio, I’ve already had the chance to work with WWF, WildForLife, Royal Foundation, Iron Maiden, and
                    the NFL. Still the best part, and what has helped me learn the most during my time at Rovio, is the variety of super skilled people. You often find yourself sitting in a meeting full of the world’s top talent.&nbsp;</p>

                <p>Rovio as a work place is pretty epic. Air Hockey, VR-room, beer o'clock, tons of stuff to keep you occupied if you need to get your mind off of work for a few minutes. Then again, the work itself is so fun, that you often work the whole
                    day without looking at the clock even once. I also love the transparency of&nbsp;our company. We do not have set working hours, instead the main thing that matters is that you get your stuff done and do it well. Marketing in general
                    is a constant battle of visibility and against deadlines, but I believe everyone who wants to work in marketing loves that&nbsp;constant grind.&nbsp;</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-72cf3348fde498c4839d227b8bb8822e">

                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id== 'matteo-spiri-junior-product-manager'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Matteo Spiri, Junior Product Manager</h1><span class="date">7.5.2018</span>
                    <p class="ingress">At Rovio I have the opportunity to give life to our games, creating experiences that players can return to time and time again!</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-matteo-spiri-1.jpg?UcD2YlbVM193SSqbxEJRO0_NojBgn61w" width="780" height="780" alt="rovio-employee-stories-matteo-spiri-1.jpg"></div>
                <p>Plato believed “You Can Discover More About a Person in an Hour of Play than in a Year of Conversation”; is interesting how true that is. People really like to have fun, they want to be surprised, and they want to have an active part in
                    all of that.</p>

                <p>I love playing all kind of games, and the deeper the system, the more I like it. My major studies in university were economics, the passion for this medium though, brought me at that time to also take part in academic courses about game
                    design. Through these courses, I realized I wanted to work in the gaming industry and have an active role in designing games.</p>

                <p>I joined Rovio in the beginning of 2017 as a product management trainee. I had an unclear idea of what that really meant, but a true belief that it would be amazing! It was amazing, and at the end of the year I was offered an opportunity
                    to continue as a Junior Project Manager. I learned so much during that first period thanks to my incredible team. It’s also thanks to them that I was able to grow and improve that fast in project management.</p>

                <p>For me, working in the free to play mobile games business is like deciding what kind of soul you want to give to your game. The market needs to recognise something unique in it, something they are able to find only in your game, a real
                    reason to come back; something that when you look deeper and deeper at it, you discover all of its perfections and imperfections. What I do every day is to try to turn those imperfections into opportunities for improvement, think of
                    their business impacts when prioritising them, and make sure each updates always delivers a better version of the game.</p>

                <p>Rovio’s Culture is remarkably good, I relate myself quite fast with almost everyone in the company. The level of trust and freedom positively surprised me. After some time I recognised it as the main reason of how well I was able to operate
                    and focus on my work every day. I would never change it. I am happy to work in the entertainment, I see a lot of value in delivering quality entertainment. The value in working on something that everyday is touched by millions of players
                    and is designed to provide the best experience YOU want for them, is huge!&nbsp;</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-ad7f33bf70a64123482f6054d873a9c5">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id== 'jenna-linden-hr-coordinator'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Jenna Lindén, HR Coordinator</h1><span class="date">7.5.2018</span>
                    <p class="ingress">After doing some soul searching about the industry I wanted to work in, I found the perfect fit in the games industry at Rovio.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-jenna-linden-3.jpg?6_S6OnBEK6XeMhrW0Xpp29o2RzXe6_cN" width="780" height="780"></div>
                <p>When I was starting to look for internship opportunities in the spring 2016, it never crossed my mind to work in the game industry. At that time, I was having an exchange year in the UK, and one of my professors recommended to really consider
                    the industry where I want to work. Back then I questioned that and wondered why does it matter which one it is, since you can work in HR in any industry.</p>

                <p>I decided to apply to well-known companies in various industries and the most difficult thing in the interviews was to explain why I wanted to work in that specific company. I can admit that Rovio wasn't the first company on my list then,
                    but a friend of mine recommended the games industry because of the casual working culture which she thought I would like. When I actually got the chance to work at Rovio in the next autumn as an HR Trainee, I realized that it kind
                    of made sense that I ended up here. I've worked on movie productions before and I liked being part of creating something that people could enjoy in their spare time and have fun with. I also have an older brother with whom I've played
                    a lot of computer games since I was a kid, and I still play mobile games daily. I know it might sound silly, but I really feel that this was "meant to be" after studying already my second Bachelor's degree, and after a long time of
                    not really knowing where I'd like to work.</p>

                <p>When I started at Rovio I felt like I was immediately taken in as part of the team. I've grown a lot since I started, and I still continue learning all the time. Now I work as an HR Coordinator, and when someone asks what I actually do,
                    I often reply that I do a lot of stuff. Trying to be a bit more specific, I work in talent acquisition, and I support our supervisors and HR managers in all employment related matters in our Games business unit.&nbsp;</p>

                <p>I like to work in HR because I get to see the impact of my work. I’m able to help supervisors succeed in their work and make everyone's employment relationship a great experience. Even though it can be quite hectic sometimes, I like that
                    every day is different. I enjoy the international working environment that we have here, and while we take business seriously, the culture is still relaxed and fun. Also our HR team is awesome. We support each other and therefore I
                    feel like I can courageously take new responsibilities. I know that I can always ask anyone on our team for help with things that are new to me. The best part is that there's not a single day without laughter with my colleagues. Work
                    is such a big part of our lives that I think it's important to have fun while doing it!</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-75eac6feaec6e0191f38b9a0185ac1ca">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'ric-thorneycroft-customer-support-manager'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Ric Thorneycroft, Customer Support Manager</h1><span class="date">7.5.2018</span>
                    <p class="ingress">Working at Rovio, and in the dynamic mobile games industry, is all about constantly learning and sharing your knowledge.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-ric-thorneycroft-1.jpg?4tFYrxknNzjS6Y4IIYXzn_yEQGnyxRdB" width="780" height="780" alt="rovio-employee-stories-ric-thorneycroft-1.jpg"></div>
                <p>In Finland, there is an expression about not having all your moomins in the valley. It kinda implies that a person may be a little crazy, and I guess that’s what some of my former work colleagues in the UK thought about me when I told
                    them that I was moving to Finland back in 2006.</p>

                <p>To me on the other hand, it was a no-brainer to move to this jewel in the north of Europe, and I’ve had the pleasure to call it home for 12 years. That I can still write that previous sentence, with temperatures outside currently at a
                    balmy -17 degrees C is perhaps indicative of how much I enjoy living here. (Don’t worry, we do have four seasons, and the summer is great!)</p>

                <p>I first came across Rovio at the same time as everyone else, with the breakout hit, Angry Birds. I still remember the first time I played it on my friend’s phone on a particularly slow day of sailing around the Finnish archipelago. What
                    struck me most was the amount of thought that had gone into the levels. It made for an experience that was difficult to put down. I could immediately see the why people were going crazy for it. It was the first time I realised that
                    smartphone gaming could actually be a thing.</p>

                <p>Fast-forward one year, and I got my chance to work for Rovio in Player Support whilst studying at university. As soon as I started at Rovio, I knew I’d found a place where I could make an impact and bring ideas to the table – something
                    that still rings true today.</p>

                <p>Working at Rovio, and in the mobile games industry, you really feel like you’re at the cutting edge. There is constant change. Time and again, new tools come out, new policies are formed, new games are released. All of these changes also
                    change the way we think and work. To stay on top of such a dynamic industry, it is essential to continue learning and sharing what’s new. It makes for a great culture and one that I’m proud to be part of at Rovio.</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-c12959d03a78a7535c0274b8e3663952">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'pekka-korpela-marketing-specialist-brand-licensing'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Pekka Korpela, Marketing Specialist, Brand Licensing</h1><span class="date">7.5.2018</span>
                    <p class="ingress">Every day in Rovio’s Brand Licensing unit is exciting when working with phenomenal brands like Angry Birds. Of course the amazing teammates and parties help too.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-pekka-korpela-2.jpg?g9kd5u8k7YZ5rtdC791ET280x3dlHmBw" width="780" height="780" alt="rovio-employee-stories-pekka-korpela-2.jpg"></div>
                <p>When Angry Birds was first taking the world by storm, I was a grad student about halfway through my international business and communication studies. The bird buzz had not gone unnoticed by me, and since I needed a summer job, I started
                    looking into the company behind this global phenomenon. My first attempt to join Rovio as an intern was unsuccessful, but not long after that, a friend of mine who was working at Rovio tipped me off about an opening in the Player Support
                    Team. I applied and got the job!</p>

                <p>Working in Player Support, I helped thousands of players with their questions and concerns, acted as the voice of our players, taking player feedback and suggestions directly to the teams that were making the games, along with managing
                    and participating in various internal development projects. It was both a great stepping stone for a fresh graduate, and an in-depth orientation to life at Rovio. I learned a great deal about mobile games and the industry, about different
                    types of tools and ways of working, and last but not least, about the Angry Birds brand.</p>

                <p>After working for a while in Player Support, I noticed that Rovio’s Brand Licensing Unit was looking for a Marketing Specialist. I have always been interested in marketing and branding, and as I had gained a lot of knowledge about the
                    Angry Birds brand by that point, it seemed like a perfect match. I managed to get the job, and when I heard the good news, I was ecstatic!</p>

                <p>The work is very versatile; every day is different. A typical day might include giving feedback on and approving the marketing materials created by our licensees, planning a social media campaign, trafficking ads to our games, handling
                    e-commerce issues, or even shooting video material with mascots. It’s fast-paced, challenging and interesting, and I like it a lot – not once have I woken up feeling like I don’t want to go to work.</p>

                <p>The daily work in itself is fun, but what really makes Rovio, Rovio, are the colleagues, the atmosphere, and the working culture. Rovio’s employees come from dozens of different countries, making the company a cultural melting pot, something
                    that I very much enjoy. Rovians are friendly and supportive to each other - if you need help with something, you’re most certainly going to get it. Everyone is working hard, but the atmosphere is still laid back and easygoing.&nbsp;</p>

                <p>Rovio is a modern company in the proper sense of the word. There’s practically no bureaucracy or artificial organizational boundaries, making the company very agile. You are given a lot of freedom to do your work; no one is breathing down
                    your neck and watching your every step. Of course there are goals and targets, but you can affect them yourself. In addition, Rovio values its employees and offers great perks, constant education, and of course, magnificent company
                    parties. I guess it should be clear at this point, but let’s add it for emphasis - Rovio is an awesome place to work!</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-dbdb707e510aa6f168a0e0e6df06c792">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'marc-olivier-senior-game-designer'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Marc Olivier, Senior Game Designer</h1><span class="date">7.5.2018</span>
                    <p class="ingress">At Rovio, I found that teams have the freedom of an indie and the kind of support only a major developer can offer.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-marc-olivier-2.jpg?8yA0vcuU.spsWqI38KVNxp2g1WJji82e" width="780" height="780" alt="rovio-employee-stories-marc-olivier-2.jpg"></div>
                <p>I've had the opportunity to work in many countries, in large teams and in small hack-it-together indies. When I decided it was time for me to take the next step in my career, I had a very clear picture of what to look for in my next employer;
                    the kind of certainty that only comes from having experienced first hand what works for me and what doesn't.</p>

                <p>What is important to me first is working in a small team, but with the kind of support and expertise that only a large studio can provide. Also, it’s important for teams to have a strong sense of independence, while at the same time having
                    clear goals. Next, teams should be guided by transparent and skilled leadership who are not afraid of challenges. Last, highly talented peers to work with and learn from. Right from the get go, it was apparent that Rovio can fulfill
                    all of these, and then some.</p>

                <p>As a senior game designer I've been given ample opportunity to flex my knowledge, and I’m regularly challenged to deliver the very best. Working with an experienced and tight-knit team is an amazing feeling, and we work together to create
                    the best game experience for our players. I look forward to every new day because I know it will be exciting. With everyone pitching in, I know that we can bring the best ideas to the fore, and we have the best people working to bring
                    them to life.</p>

                <p>It's tough but highly rewarding work - exactly what I was seeking. I've hopped across a large number of countries, continents and studios, but I'm quite certain that my nomadic habits have come to an end here at Rovio.</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-c81e930b09fbffc7e34e2c035c1b66c2">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jan-lidtke-art-director')">Jan Lidtke, Art Director</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'jan-lidtke-art-director'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-employee-story has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Jan Lidtke, Art Director</h1><span class="date">7.5.2018</span>
                    <p class="ingress">Making games is awesome, but the good vibes in the office and beautiful Finnish scenery are the icing on the cake when it comes to working at Rovio.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Employee stories/rovio-employee-stories-jan-lidtke-2.jpg?OpJo3Mo9G0VIhVglehB6cQOboVa65Q8I" width="780" height="780" alt="rovio-employee-stories-jan-lidtke-2.jpg"></div>
                <p>I studied illustration and communications design, and got into games in Hamburg back in 2010. As it turns out, making games is awesome. Now I am surrounded by all the things I love – character art, animation, typography and pop culture.</p>

                <p>Joining Rovio was an opportunity to get in touch with a ton of great artists and developers. And then there are the birds… I have to admit it was pretty intimidating to work with such a strong and well known IP in the beginning. During
                    the first months I felt like a sponge just absorbing the brand and products. But I got a lot of encouragement to stay adventurous and explorative in this regard. I like the idea that we don’t take ourselves too seriously – quite the
                    opposite: the Angry Birds and the Piggies are mischievous, weird and adorable. I like to think of myself being a bit like that.</p>

                <p>What I do day to day ranges from finding references, creating mood boards and concept art to giving feedback and connecting people and things. I enjoy helping other artists with their professional development as much as I enjoy learning
                    from them. We have regular studio artist meetings in which we share our latest work, games, and random art that is stuck in our heads. We also have an art directors’ roundtable where we discuss the status of each project and talk about
                    the market, vision, and how poor the latest superhero movie was.</p>

                <p>Team spirit and good vibes are essential to me. It is not about being best friends with everyone, but I strongly believe that the mood in the team and office will always be reflected in the product. We spend more time with each other than
                    with our friends and families after all. How about having a wee bit of fun?</p>

                <p>Working in Espoo is made even better by the the dazzling environment. On my way to work I pass the baltic sea by bike. Kicking off the day like that is just priceless.</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-employee-stories-tiny-teaser" class="block block-views">
                <div class="content">
                    <div class="view view-employee-stories view-id-employee_stories view-display-id-tiny_teaser view-dom-id-bb859c190150c1a80c02bb04fc050660">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">29.5.2019</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/nicole-yang-data-analyst')">Nicole Yang, Data Analyst</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jesse-lempiainen-marketing-specialist')">Jesse Lempiäinen, Marketing Specialist</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/matteo-spiri-junior-product-manager')">Matteo Spiri, Junior Product Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/jenna-linden-hr-coordinator')">Jenna Lindén, HR Coordinator</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/victor-lemeshev-senior-backend-developer')">Victor Lemeshev, Senior Backend Developer</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/ric-thorneycroft-customer-support-manager')">Ric Thorneycroft, Customer Support Manager</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/pekka-korpela-marketing-specialist-brand-licensing')">Pekka Korpela, Marketing Specialist, Brand Licensing</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">7.5.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/employee-story/marc-olivier-senior-game-designer')">Marc Olivier, Senior Game Designer</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>