<main *ngIf="id == 'puzzle-studio'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-studio-introductions has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Puzzle Studio</h1><span class="date">21.12.2018</span>
                    <p class="ingress">Passion for creating highly accessible casual puzzle games.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Team introductions/puzzle.jpg?GSBSuw9cMBdjOINnuqLaDHbEv2zdVYK3" width="760" height="475"></div>
                <p>Rovio’s Puzzle studio is the home of the passionate team behind Angry Birds Match, Angry Birds Friends, Angry Birds Pop and the newly launched Angry Birds Dream Blast. While we have enjoyed great success with our current games, we have
                    set ourselves even bigger goals for the future.</p>

                <p>Our vision is to reinvent the puzzle category by creating games where players can find fun instantly, but that can turn into years-long hobbies. We are also exploring new ways to use narrative story and character worlds in casual mobile
                    games. We want to create true emotional connection to the games we make, to make games our players will think about even when they are not playing.</p>

                <p>We are a team-first organization. At the core of our DNA you will find openness, candid feedback, a strong desire to learn together, and a shared ambition to succeed. Our studio is truly diverse, and we want that to come through in the
                    games we make. We look for team members who wish to collaborate with brilliant minds and dare to dream big. We are hungry to break new ground on games that will redefine the genre for gamers who love it most.</p>

                <p align="center"><img alt="Tero Raij" title="Tero Raij" height="360" width="360" style="width: 360px; margin: 12px;" class="media-element file-default" src="http://assets-production.rovio.com/s3fs-public/tero.jpg?Kts89FbRb24GQeaR6_T0DO3EXHAxQQ6X"></p>

                <p>"<em>My journey with games started almost twenty years ago, and I have gathered experience with free to play (F2P) since 2004, working with Habbo Hotel, an online social open-ended world for teens. I joined Rovio in 2011 with a mission to help teams known for amazing premium games to embrace the world of F2P. Setting a strategic direction and deeply caring about the user experience is at the core of my role as Head of Studio, but more importantly, it’s about challenging my team and them challenging me and never settling for less.</em>"<br>                    – Tero Raij, Head of Studio, Puzzle</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-baa9ad80e38ca276b90e9b752839e767" class="block block-views">
                <div class="content">
                    <div class="view view-studio-introductions view-id-studio_introductions view-display-id-tiny_teaser view-dom-id-ea72af89492d0a7cb8831f9d06101a77">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')">Games Technology</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')">Delta</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')">Stockholm Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')">Battle Studio</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'games-technology'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-studio-introductions has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Games Technology</h1><span class="date">20.12.2018</span>
                    <p class="ingress">Providing industry-leading services and cloud infrastructure for Rovio’s game teams.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Team introductions/tekkitiimi.jpg?MlvUDMapj8uzlizAjdZv_JvrrOlwOWPk" width="760" height="475"></div>
                <p>Rovio Games Technology is a team of talented professionals working on services including data and analytics, build and submission tools for games, cloud infra for service and game servers, and our gaming cloud services platform Beacon.
                    Beacon provides our game team means to bring their games to life every day and monetise, for example, enabling targeted and scheduled in-game events, running our advertising and cross-promotion, and ensuring IAP payments.&nbsp;</p>

                <p>We serve tens of millions players in our games, hosting some of the most cutting edge cloud services out there, serving thousands of requests per second from all corners of the globe, capture 4 Billion of analytic events per day and over
                    1TB of data per day, and run over 1000 instances on Amazon AWS.</p>

                <p>Our ambition is to be the industry technology leaders. Our team delivers technology and services so our studios can craft and run amazing games. Our talented team of developers, engineers, designers and product managers are the backbone
                    of our achievements.</p>

                <p>The Games Technology team is diverse with wide tech domain expertise and truly international with 15 nationalities. Our team is hands-on, open and collaborative. We encourage and support our people in developing their skills and provide
                    possibilities for continuous learning, growth, and rotation. Most of all we have fun working with games.</p>

                <p align="center"><img alt="Petri Hyökyranta" height="359" width="360" style="width: 360px; margin: 12px;" class="media-element file-default" src="http://assets-production.rovio.com/s3fs-public/Team introductions/petri-hyokyranta.jpg?Wv_ofvnU87QeHrE494j74cjaW0K1IOX7"></p>

                <p>"<em>I started my career back in 1996 as a private entrepreneur, focusing on something very modern back then: the world wide web. Since then I have had the luxury of working in different tech organisations and have held roles in various B2B and B2C industries, creating new services for mobile and web. I joined Rovio in 2011 with the goal to help build a world-class cloud service platform for the games industry. I’d like to say we accomplished that goal, but building top-of-the-world 24/7 services means that work is never over. We have an excellent team, and I am extremely proud of their work, their constant delivery and the culture we have built over the years.</em>"&nbsp;<br>                    – Petri Hyökyranta CTO, Games</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-baa9ad80e38ca276b90e9b752839e767" class="block block-views">
                <div class="content">
                    <div class="view view-studio-introductions view-id-studio_introductions view-display-id-tiny_teaser view-dom-id-db631644b24642b96781ddfdb0c02735">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')">Delta</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')">Puzzle Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')">Stockholm Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')">Battle Studio</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'delta'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-studio-introductions has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Delta</h1><span class="date">20.12.2018</span>
                    <p class="ingress">Providing Rovio game studios with world-class services.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/delta.jpg?VV.QyFOrqxk.wkEBDhucgzvIJg6aXFoH" width="760" height="475"></div>
                <p>The Delta team combines several responsibility areas that serve all five of Rovio’s game studios. Specifically, we offer player support, quality assurance (QA), we prepare games and updates for submission to app stores, we conduct user
                    research, and we also create the sound and music for all Rovio games. Our team&nbsp;takes on a wide variety of projects, working with all Rovio game studios.</p>

                <p>Delta prepares games to be released in app stores so in many ways, we are the end of the line before Rovio games reach the world. At the same time, our user research, player support, QA, and audio teams work in tandem with game teams during
                    development and after release to ensure that the development process goes smoothly and that players’ expectations are met once games and updates are live. With our game studios’ focus on creating games that always have something new
                    and fun to experience, launching a game or update is just the beginning.</p>

                <p>Rovio’s game studios strive to set the world on fire with their games, and it’s Delta’s goal to support them with world-class services. We are super ambitious with regard to what our services should look like. With every discipline represented
                    in the Delta team, we envision what it will look like by the near future and beyond. We set our sights high, and we aim to define the future of our respective crafts. To accomplish this, we seek to bring in the best people in the industry.
                    We promote ownership within each of our teams and put emphasis on people before all.&nbsp;</p>

                <p align="center"><img height="360" width="360" style="width: 360px; margin: 12px;" class="media-element file-default" src="http://assets-production.rovio.com/s3fs-public/Team introductions/cyrill_0.jpg?JZzMsav.FZ0rmWMGIQsiNhJ1bYzvj31T" alt=""></p>

                <p>"<em>Before joining Rovio in 2015, I gained 20 years of experience in industries ranging from hardware manufacturing to SaaS production. My professional specialty is running mobile game studios; managing people, product, and processes. Over the last decade, I have seen mobile games go from feature phones to smartphones, and from premium downloads to free to play. In such a fast-moving industry, it’s exciting to see what services mobile gaming will require in the future. It is my ambition to define that future with the Delta team.</em>"<br>                    – Cyril Barrow, VP Operations</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-baa9ad80e38ca276b90e9b752839e767" class="block block-views">
                <div class="content">
                    <div class="view view-studio-introductions view-id-studio_introductions view-display-id-tiny_teaser view-dom-id-22aa63854ce28850b1ac94ddaa0d4ab5">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')">Games Technology</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')">Puzzle Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')">Stockholm Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')">Battle Studio</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="id == 'stockholm-studio'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-studio-introductions has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Stockholm Studio</h1><span class="date">21.12.2018</span>
                    <p class="ingress">Creating the next big mobile RPG.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Team introductions/stockholm.jpg?qBgmWRPeJTuGoZbFlHTXfdtg1Sx7Xrmq" width="760" height="590"></div>
                <p>Rovio Stockholm is the studio behind the hugely popular Angry Birds 2, the bigger, badder, and birdier sequel to the global phenomenon that put Angry Birds on the map. Following up a phenomenon has been a huge challenge, and it has been
                    extremely rewarding to see the game thrive. While we are soaring high on that success, and we continue to expand and improve that title, we are also developing new IPs and exploring new game ideas, specifically within the RPG genre.&nbsp;</p>

                <p>Our mission is to become the best mobile RPG developer in the west. That’s no small task, but we believe that we have a unique possibility to mix this studio’s experience of creating accessible, inclusive mass-market games with our personal
                    love for RPGs. Our design pillars are: dynamic, character-driven, and highly social. We are very motivated to create mid-core games that are both approachable and challenging.&nbsp;</p>

                <p>In the Stockholm studio, we keep a flat hierarchy, a high level of transparency, and open communication. Our team&nbsp;is always trying to find ways to improve our projects, tools, communication, and ourselves, while keeping the atmosphere
                    friendly, inclusive, respectful and super supportive. With paid overtime and basically no crunch we also respect each other’s time. We make sure that we learn both from our mistakes and our success as we grow both in number and in
                    experience. At the Stockholm Studio you will be working with great co-workers in a team-oriented, informal, international, and inspiring working environment.</p>

                <p align="center"><img alt="Reginaldo Valadares" title="Reginaldo Valadares" height="360" width="360" style="width: 360px; margin: 12px;" class="media-element file-default" src="http://assets-production.rovio.com/s3fs-public/Team introductions/reginaldo.jpg?ATxhA7mar_cqFdejmsrksBJ3NGu9EWLS"></p>

                <p>"<em>I am a father and an avid gamer. I started my career in the games industry 17 years ago by founding a startup pioneer in online multiplayer games in Brazil. After a few years living in Germany, I realised Berlin was not cold enough so I moved to Finland to be Head of Production for Rovio Stars. Early in 2017 I joined the outstanding team of Rovio Stockholm with the mission to deliver some of the best mobile RPGs in the west.</em>"&nbsp;<br>                    – Reginaldo Valadares,&nbsp;Head of Studio, Stockholm</p>

            </div>

        </div>
        <div class="sidebar-wrap">
            <div id="block-views-baa9ad80e38ca276b90e9b752839e767" class="block block-views">
                <div class="content">
                    <div class="view view-studio-introductions view-id-studio_introductions view-display-id-tiny_teaser view-dom-id-e4935627ce34236a63ffb135487c8634">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')">Games Technology</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')">Delta</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')">Puzzle Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/battle-studio')">Battle Studio</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<main *ngIf="id == 'battle-studio'" id="main" class="sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="article node node-studio-introductions has-image view-mode-full clearfix">
                <header>
                    <h1 class="large-h1">Battle Studio</h1><span class="date">20.12.2018</span>
                    <p class="ingress">Building the best competitive multiplayer games for mobile devices.</p>
                </header>
                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Team introductions/battle.jpg?Ht.o2IiwwUEQg_fXsyL_pu7Lj_xj0nGb" width="760" height="475"></div>
                <p>The Battle Studio is all about creating world class competitive experiences for touchscreen devices. We’re driven by the opportunity to build Rovio’s next mega-hit that will not only top the games chart but also crosses over into a world-renowned
                    entertainment IP. We know that it’s an extremely ambitious goal, but it’s not like Rovio hasn’t done it before.</p>

                <p>Our studio had a good start with our first game, the award-winning Battle Bay that launched globally in 2017. Battle Bay provided us with much needed learnings and ensured us that we’re on the right path to make an even bigger splash with
                    future games.</p>

                <p>We strive to create amazing games, which hook our players with the rush of winning - and the agony of defeat. We want to foster community building competition and encourage players to climb the leaderboards alone as well as with their
                    teams and guilds. We’re always on the lookout for the brightest talent that shares our passion and is eager to join our quest towards the top of the charts. If you share the same passion as we do, maybe our talent-filled studio is
                    where you belong.</p>

                <p align="center"><img height="360" width="360" style="width: 360px;" class="media-element file-default" src="http://assets-production.rovio.com/s3fs-public/Team introductions/michail_2.jpg?FPr4OrlEIlDYiJ.PCetOgjaQAJM9VTi8" alt=""></p>

                <p>"<em>Prior to joining Rovio for the second time, I’ve worked at Supercell, Zynga and Fun Plus in various game development roles ranging from product management to production and design. In other words, I know how the sausage is made and have made a few ones myself.</em></p>

                <p><em>What Rovio offers is, in my opinion, any game maker’s dream: We get to build games that inspire and challenge us while having all the key support and leverage of a big entertainment company. But what’s truly unique is the fact that we have set our goals high as we strive to create new World-renown IPs. If you like working in compact and talented teams and if you’re not shaken by big goals, we’d love to hear from you!</em>"<br>                    – Michail Katkoff, Head of Studio, Battle</p>

            </div>
        </div>
        <div class="sidebar-wrap">
            <div id="block-views-baa9ad80e38ca276b90e9b752839e767" class="block block-views">
                <div class="content">
                    <div class="view view-studio-introductions view-id-studio_introductions view-display-id-tiny_teaser view-dom-id-90913fd6372a8ee0be46f72075356385">
                        <div class="view-content">
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/games-technology')">Games Technology</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">20.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/delta')">Delta</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/puzzle-studio')">Puzzle Studio</a></h2>
                            </article>
                            <article class="tiny-teaser"><span class="date">21.12.2018</span>
                                <h2><a href="javascript:void(0)" (click)="gotoDetail('/careers/our-teams/stockholm-studio')">Stockholm Studio</a></h2>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>