<main id="main" class="no-sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">
            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">
            </div>
        </div>
    </div>

    <div class="field field-name-field-module">
        <div class="view view-image-walls view-id-image_walls view-display-id-news_main wall view-dom-id-2aedb02b8e07567074870147f5a9598c jquery-once-1-processed">
            <div class="view-content" style="position: relative; height: 1200px;">
                <div class="grid-sizer" style="width: 300px;"></div>
                <div role="article" onclick="location.href='/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series'" class="ds-1col node node-news rovio-violet rovio-color has-image view-mode-big clearfix isotope-item" style="position: absolute; left: 0px; top: 0px; padding-bottom: 0px; width: 600px; height: 600px;">
                    <a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_big/public/News images/abrcr_feature.jpg?Y7OrGSvqb_WoKcw5NfSvxl0WRLnSuy5S');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series" class="group-link"><span class="date">11.6.2019</span><h2 class="heading-priority-big fit" style="font-size: 41.7391px;">Get the inside scoop on The Angry Birds Movie 2 in an all-new YouTube series.</h2><p class="fit-very-high" style="font-size: 16px;">Get up close and personal with the cast of The Angry Birds Movie 2 in the Angry Birds Red Carpet Rep</p></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-green-lantern rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/News images/ab_sofa_logos_rdc.jpg?pMJNstNkR8TfzRl3wlDXbbGQr_B_cMSp');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer" class="group-link"><span class="date">4.6.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">The Angry Birds Movie 2 VR: Under Pressure comes to PlayStation VR this summer.</h2><p class="fit-very-high" style="font-size: 14px;">The Angry Birds Movie 2 VR: Under Pressure brings together the birds and pigs – as well as virtual r</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-blue rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/News images/hatch_logo.jpg?7u4eQbCvbWyJ.2mZG5nNDTrcLPHJPk67');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us" class="group-link"><span class="date">4.6.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Hatch and Samsung team up for hyperfast 5G gaming in the US.</h2><p class="fit-very-high" style="font-size: 14px;">The new Hatch for Samsung game streaming app for Galaxy S10 5G phones lets players enjoy 100+ premiu</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-orange rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/rovio_logo_16_horizontal_red_rgb_0.jpg?WJbK19ZsC9keNJj3HG9Oq0NA3OCnnYrf');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america" class="group-link"><span class="date">24.5.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">The Angry Birds tee off in their first mini-golf attraction in North America!</h2><p class="fit-very-high" style="font-size: 14px;">The new 18-hole course, based on The Angry Birds Movie 2, will open later this year in the New Jerse</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-blue rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/hatch_vf_press_2.web_.jpg?3cTGSn_ikYzOKeAAV2Xbp_71DvRW9cal');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service" class="group-link"><span class="date">23.5.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Vodafone selects game streaming platform Hatch as its hero 5G gaming service</h2><p class="fit-very-high" style="font-size: 14px;">Partnership between Finland’s pioneering cloud gaming service and Europe’s largest tech communicatio</p><span class="more-link">Read more</span></a></div>
                </div>

            </div>

            <!-- <ul class="pager pager-load-more">
                <li class="pager-next first last"><a href="/news?page=1">Load more articles</a></li>
            </ul> -->


            <div class="view-footer">
                <div class="load-more-storage"></div>
            </div>


        </div>
    </div>
</main>

<app-footer></app-footer>