<main id="main" class="no-sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">



                <div class="field-body">
                    <h1 style="margin-bottom: 26px;">Press material</h1>

                    <ul>
                        <li style="margin: 0 0 2px 0;"><a href="#rovio-general">Rovio in general</a></li>
                        <li style="margin: 0 0 2px 0;"><a href="#angry-birds-general">Angry Birds in general</a></li>
                        <li style="margin: 0 0 2px 0;"><a href="#angry-birds-games">Angry Birds games</a></li>
                        <li style="margin: 0 0 2px 0;"><a href="#angry-birds-animations">Angry Birds movies &amp; animations</a></li>
                        <li style="margin: 0 0 2px 0;"><a href="#other-games">Other games</a></li>
                        <li style="margin: 0 0 2px 0;"><a href="#partnerships">Partnerships</a></li>
                    </ul>
                    <!-- Rovio -->
                    <p>
                        <a name="rovio-general" id="rovio-general"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Rovio in general</h2>

                    <h3 style="font-size: 26px;">Rovio B-roll material</h3>

                    <p><a href="https://www.dropbox.com/sh/23p9do0ncvwy50c/AADjTg5kx9R6M7l16ilx6HrPa?dl=0" target="_blank">Images (Dropbox)</a></p>

                    <h3 style="font-size: 26px;">Rovio logo</h3>

                    <p>
                        <a href="http://assets-production.rovio.com/s3fs-public/News/png.zip"><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;</a><a href="http://assets-production.rovio.com/s3fs-public/News/png.zip">Rovio logo .png format</a></p>

                    <p>
                        <a href="http://assets-production.rovio.com/s3fs-public/News/eps.zip"><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;</a><a href="http://assets-production.rovio.com/s3fs-public/News/eps.zip">Rovio logo .eps format</a></p>
                    <!-- Angry Birds -->

                    <p>
                        <a name="angry-birds-general" id="angry-birds-general"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Angry Birds in general</h2>

                    <h3 style="font-size: 26px;">Angry Birds logo</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/ab_logos_png.zip?36qwUCMQk0N8W4Cqke6oKMxSn6GYwfzM">Angry Birds logo (.png format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/ab_logos_eps.zip?ursm0RyqQqT.W1Nct5y1PudIYEHBCHbS">Angry Birds logo (.eps format)</a></p>

                    <h3 style="font-size: 26px;">Characters</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/red.zip?8GwS8JL_D15FPUktxvX45SaB.ZfDO1_u">Red (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/red1.zip?Xx6KJU5TZmdthfKxfxhD_H6zdSf8XTDr">Red 1 (.png format - transparent background)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/red2.zip?E5_8sP.1veB3Erx0YMz8FeU3WlisNSbm">Red 2 (.png format - transparent background)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/chuck.zip?TjYAX1jIpkm1FQpDQhw1sjp7hAFbu2qd">Chuck (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/bomb.zip?2UIIzqznrrmG5j.xZpmZpy4aoiDcxhKo">Bomb (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/gang.zip?ZWCMGsajbvarexH1vtlpErm0m7bRgGdt">Red, Chuck &amp; Bomb (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/hatchlings.zip?_tJoO_Xr6o_b4eV0Iw_.Wh587mYrgBum">Hatchlings (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/piggies.zip?JvoGDavU4IIJNEDgeQ77soCklQ.BN2eN">Piggies (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/piggies.zip?JvoGDavU4IIJNEDgeQ77soCklQ.BN2eN">Piggies (.jpg format)</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Characters/mighty_eagle.zip?USoib7OYdTwCrIpDBdwubkjp7wfukwHK">Mighty Eagle (.jpg format)</a></p>
                    <!-- Angry Birds Games -->

                    <p>
                        <a name="angry-birds-games" id="angry-birds-games"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Angry Birds games</h2>

                    <h3 style="font-size: 26px;">Angry Birds Dream Blast</h3>

                    <p><a href="https://www.dropbox.com/s/v4ackq1asvghd5m/App-Icon.png?dl=0" target="_blank">Game icon</a>&nbsp;(Dropbox)</p>

                    <p><a href="https://www.dropbox.com/sh/e94211bh6enq12x/AABTLWUxB9XUnbGMfu7qE2mBa?dl=0" target="_blank">Screenshots</a>&nbsp;(Dropbox)</p>

                    <p><a href="https://www.dropbox.com/sh/dg8b8l510bpm37f/AAChEuikx6aAE6my9NAMyTaWa?dl=0" target="_blank">Logo</a>&nbsp;(Dropbox)</p>

                    <p><a href="https://www.dropbox.com/sh/y1dl52daf21c02t/AAClFXsnIGj0PdOfWiR4QRGOa?dl=0" target="_blank">Keyart</a>&nbsp;(Dropbox)</p>

                    <p><a href="https://www.dropbox.com/sh/cofzxlcqxm3mhwe/AABO9S_gJVJixT1F9s7Bviz7a?dl=0" target="_blank">GIFS</a>&nbsp;(Dropbox)</p>

                    <h3 style="font-size: 26px;">Angry Birds Match</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/screenshots_0.zip?uZS8.Kz4Ia59vpHqGjIrujMEMfO40EDP">Screenshots</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/logo_0.zip?l75rK3_RV.JvFP6A6m3_rT32nwWq0mK9">Logo</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/key_arts.zip?njAeJdenewmNV_.5p95OKnW6K9Uo.ZJh">Key Arts</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/icon.zip?xLG7LuH_8H5UJ561ytDJbRuNXL4T2O9F">Icon</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/gif.zip?jajA658mMaeXP8pCKtXaCYAXTSa7xj5c">GIFs</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/hatchlings.zip?aIL8jyAPUub_OI1fGtDb001SshNjINNH">Hatchlings</a></p>

                    <h3 style="font-size: 26px;">Angry Birds Evolution</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/abe_screenshots.zip">Screenshots</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/keyart_icons_logo.zip">Key art, logo and icon</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/fact_sheet.zip">Fact sheet</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/abevolution_character_bios_3.pdf_.zip">Character bios</a></p>

                    <p><a href="https://www.dropbox.com/s/n7hytyhlotigvb0/drive-download-20170627T065353Z-001.zip?dl=0" target="_blank">Characters - high resolution images</a> (Dropbox)</p>

                    <p><a href="https://youtu.be/OP3sgY138H8" target="_blank">Angry Birds Evolution - Official Launch Trailer</a> (YouTube)</p>

                    <p><a href="https://youtu.be/XvCQdbrxXqc" target="_blank">Angry Birds Evolution - Meet Dutch</a> (YouTube)</p>

                    <p><a href="https://youtu.be/nqr4BuV9_8w" target="_blank">Angry Birds Evolution - Meet Walter</a> (YouTube)</p>

                    <p><a href="https://youtu.be/LssuU3LzacM" target="_blank">Angry Birds Evolution - Meet Darlene</a> (YouTube)</p>

                    <h4 style="margin-top: 18px; margin-bottom: 14px;">Angry Birds Evolution Tribute to Iron Maiden</h4>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="https://assets-production.rovio.com/s3fs-public/Press%20Kits/angrybirdsevolution_factsheet_ironmaiden_2017.pdf_.zip?Xx5VOcljwD6WfYnQngm0_HOUuSbm0UuE">Fact Sheet</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/appassets.zip?CmlZxG7rZzhfKhHLG.yhp1YtOwYOy.6U">AppAssets</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/illustrations.zip?w5M_HkDADQbULbUKazxttDMVzcgRhU4I">Illustrations</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/characters.zip?zXJKAorX08n1gR9Wa7fvdsJviquS9SEf">Characters</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/logo_0.zip?k1hU.aOz2LK7SioBbNKb0HiCIK42Tduo">Logo</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/Press%20Kits/screenshots_0_0.zip?zeJfdwIzfzRDhnxCFGF4GSIQvdJA91hQ">Screenshots</a></p>

                    <h3 style="font-size: 26px;">Angry Birds Blast!</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/abblast_presskit.zip">Assets pack</a></p>

                    <p><a href="https://www.youtube.com/watch?v=Nf3nXP6otQ8" target="_blank">Angry Birds Blast – Official Cinematic Gameplay Trailer</a> (YouTube)</p>

                    <h3 style="font-size: 26px;">Angry Birds 2</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_2_asset_pack_1.zip">Download press kit 1</a>&nbsp;(zip, 5.4 MiB)<br><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;
                        <a href="http://assets-production.rovio.com/s3fs-public/angry_birds_2_asset_pack_2.zip">Download press kit 2</a> (zip, 6.8 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Friends</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/press_kit_2017-20170223t140956z-001.zip">Download press kit</a>&nbsp;(zip, 7.8 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Friends "Roll with the Pangolins"</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/archive_2.zip">Download press kit for Angry Birds Friends "Roll with the Pangolins"</a> (zip, 4.8
                        MiB)
                    </p>

                    <h3 style="font-size: 26px;">Angry Birds Transformers</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_transformers_press_kit_-_june_2014.zip">Download press kit for Angry Birds Transformers</a>                        (zip, 3.7 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Epic</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_epic_.zip">Download press kit for Angry Birds Epic</a> (zip, 3.6 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Go!</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_go_press_kit.zip">Download press kit for Angry Birds Go!</a> (zip, 6.1 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds (classic)</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_press_kit_-_nov_2014.zip">Download press kit for Angry Birds</a> (zip, 7.8 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Seasons</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/angry_birds_seasons_xmas.zip">Download press kit for Angry Birds Seasons</a> (zip, 11.7 MiB)</p>

                    <h3 style="font-size: 26px;">Angry Birds Space</h3>

                    <p>Check out the Angry Birds Space teaser <a href="http://www.youtube.com/playlist?list=PL9B62D56943CDA096" target="_blank">videos</a> and <a href="http://www.youtube.com/playlist?list=PL9B62D56943CDA096" target="_blank">trailers</a>.</p>

                    <h3 style="font-size: 26px;">Bad Piggies</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/bad_piggies_assets.zip">Download press kit for Bad Piggies</a> (zip, 4.4 MiB)</p>
                    <!-- Angry Birds Movies -->

                    <p>
                        <a name="angry-birds-animations" id="angry-birds-animations"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Angry Birds movies &amp; animations</h2>

                    <h3 style="font-size: 26px;">The Angry Birds Movie</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/movie_assets_1.zip">Assets pack 1</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/movie_assets_2.zip">Assets pack 2</a></p>

                    <h3 style="font-size: 26px;">The Angry Birds Movie Los Angeles premier</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/la_premier_1.zip">Image pack 1</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/la_premier_2.zip">Image pack 2</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/la_premier_3.zip">Image pack 3</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/la_premier_4.zip">Image pack 4</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/la_premier_5.zip">Image pack 5</a></p>

                    <h3 style="font-size: 26px;">The Angry Birds Movie Helsinki premier</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/helsinki_premier_1.zip">Image pack 1</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/helsinki_premier_2.zip">Image pack 2</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/helsinki_premier_3.zip">Image pack 3</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/helsinki_premier_4.zip">Image pack 4</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/helsinki_premier_5.zip">Image pack 5</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/News/helsinki_premier_6.zip">Image pack 6</a></p>

                    <h3 style="font-size: 26px;">Piggy Tales</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/piggy_tales_press_kit.zip">Download Piggy Tales press kit</a> (zip, 8.9 MiB)</p>
                    <!-- Other games -->

                    <p>
                        <a name="other-games" id="other-games"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Other games</h2>

                    <h3 style="font-size: 26px;">Battle Bay</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/screenshots1.zip">Screenshots 1</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/screenshots2.zip">Screenshots 2</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/images.zip">Game images</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/logo.zip">Logo</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/battle_bay_fact_sheet.pdf_.zip">Fact sheet</a></p>

                    <p><a href="https://youtu.be/hu5zBg-s-zI" target="_blank">Battle Bay - Official Launch Trailer</a> (YouTube)</p>

                    <p><a href="https://youtu.be/hRr59ZD6MPc" target="_blank">Battle Bay - Gameplay Trailer</a> (YouTube)</p>

                    <h3 style="font-size: 26px;">Nibblers</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="http://assets-production.rovio.com/s3fs-public/nibblers_press_kit_1.zip">Download Press Kit 1 for Nibblers</a>&nbsp;(zip, 14.7 MiB)<br><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;
                        <a href="http://assets-production.rovio.com/s3fs-public/nibblers_press_kit_3.zip">Download Press Kit 2 for Nibblers</a> (zip, 9.8 MiB)</p>
                    <!-- Partnerships -->

                    <p>
                        <a name="partnerships" id="partnerships"></a>
                    </p>

                    <h2 style="width: 100%; border-bottom: 1px solid #1b1c20; padding-bottom: 10px;">Partnerships</h2>

                    <h3 style="font-size: 26px;">Angry Birds &amp; Everton F.C. partnership</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="https://assets-production.rovio.com/s3fs-public/Press%20Kits/abxeverton_press_kit-20181012t065300z-001.zip?0lsc.d506XI6ASjot4d4JlCo2fsOJVvp">Press kit</a></p>

                    <h3 style="font-size: 26px;">Rovio &amp; NFL Partnership</h3>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="https://assets-production.rovio.com/s3fs-public/Press%20Kits/NFL%20media%20kit/keyart_logo_icon_0.zip?azWBc19KmZgEEiWsVO4Nf62oZR3svjWc">Keyart, logo &amp; icon</a></p>

                    <p><img src="https://www.rovio.com/modules/file/icons/package-x-generic.png">&nbsp;<a href="https://assets-production.rovio.com/s3fs-public/Press%20Kits/NFL%20media%20kit/game_assets.zip?8Tyd3Hx97_8pRZjkod5y0wPZvVgqg33S">Game assets</a></p>

                    <p><a href="https://youtu.be/B5qxhAcCpJc" target="_blank">Angry Birds Evolution - Road to the Super Bowl LII</a> (YouTube)</p>

                    <p><a href="https://youtu.be/JfuaqFAbvyw" target="_blank">Angry Birds 2 - Super Bowl LII Update (Trailer 1)</a> (YouTube)</p>

                    <p><a href="https://youtu.be/jB5fHp5V-GY" target="_blank">Angry Birds 2 - Super Bowl LII Update (Trailer 2)</a> (YouTube)</p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>

</main>

<app-footer></app-footer>