<!-- <main id="main" class="no-sidebar " role="main">
    <div class="wrap">
        <div class="main-wrap">


            <div class="view view-news-archive view-id-news_archive view-display-id-archive_page view-dom-id-71af0f80b052d059566f0f1f2afd2de3">

                <div class="view-filters">
                    <form class="ctools-auto-submit-full-form ctools-auto-submit-processed" action="/news/archive" method="get" id="views-exposed-form-news-archive-archive-page" accept-charset="UTF-8">
                        <div>
                            <div class="views-exposed-form">
                                <div class="views-exposed-widgets clearfix">
                                    <div id="edit-date-filter-1-wrapper" class="views-exposed-widget views-widget-filter-date_filter_1">
                                        <label for="edit-date-filter-1">
          Year          </label>
                                        <div class="views-widget">
                                            <div id="edit-date-filter-value-wrapper">
                                                <div id="edit-date-filter-value-inside-wrapper">
                                                    <div class="container-inline-date">
                                                        <div class="form-item form-type-date-select form-item-date-filter-1-value">
                                                            <div id="edit-date-filter-1-value" class="date-padding clearfix">
                                                                <div class="form-item form-type-select form-item-date-filter-1-value-year">
                                                                    <label class="element-invisible" for="edit-date-filter-1-value-year">Year </label>
                                                                    <div class="date-year"><select class="date-year form-select" id="edit-date-filter-1-value-year" name="date_filter_1[value][year]"><option value="" selected="selected">-Year</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option></select></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="edit-date-filter-wrapper" class="views-exposed-widget views-widget-filter-date_filter">
                                        <label for="edit-date-filter">
          Month          </label>
                                        <div class="views-widget">
                                            <div id="edit-date-filter-value-wrapper">
                                                <div id="edit-date-filter-value-inside-wrapper">
                                                    <div class="container-inline-date">
                                                        <div class="form-item form-type-date-select form-item-date-filter-value">
                                                            <div id="edit-date-filter-value" class="date-padding clearfix">
                                                                <div class="form-item form-type-select form-item-date-filter-value-month">
                                                                    <label class="element-invisible" for="edit-date-filter-value-month">Month </label>
                                                                    <div class="date-month"><select class="date-month form-select" id="edit-date-filter-value-month" name="date_filter[value][month]"><option value="" selected="selected">-Month</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="views-exposed-widget views-submit-button">
                                        <input class="ctools-use-ajax ctools-auto-submit-click js-hide form-submit" type="submit" id="edit-submit-news-archive" name="" value="Filter"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="view-content">

                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News images/abrcr_feature.jpg?wNTfXNNC9A7eyrQNubRE5ABJFMhYrfcp&amp;itok=OoArKNy3" width="100" height="60" alt="Angry Birds Red Carpet Report"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/movie">Movie</a></div>
                            <p class="date">11.6.2019</p>
                            <h2><a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series">Get the inside scoop on The Angry Birds Movie 2 in an all-new YouTube series.</a></h2>
                        </header>
                        <p class="teaser">The Angry Birds Movie 2 is coming soon to a theater near you, and you are anywhere near as excited as we are, you will want to get all of the juicy...<a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series" class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News images/ab_sofa_logos_rdc.jpg?RYOk_fyFnZKrlHGotdb8BDxTk_n0JVOR&amp;itok=8tW4poH9" width="100" height="63" alt="The Angry Birds Movie 2 VR: Under Pressure"
                                    title="The Angry Birds Movie 2 VR: Under Pressure"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/games">Games</a></div>
                            <p class="date">4.6.2019</p>
                            <h2><a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer">The Angry Birds Movie 2 VR: Under Pressure comes to PlayStation VR this summer.</a></h2>
                        </header>
                        <p class="teaser">The Angry Birds Movie 2 is all about two opposing sides coming together to work as a team, and in the newest game in the Angry Birds world, things...<a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer"
                                class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News images/hatch_logo.jpg?wRWwpvKQ_0JwAcrDJylFZI9X3EHbApmd&amp;itok=bxA3D-Yn" width="100" height="63" alt="Hatch Logo"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/hatch">Hatch</a></div>
                            <p class="date">4.6.2019</p>
                            <h2><a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us">Hatch and Samsung team up for hyperfast 5G gaming in the US.</a></h2>
                        </header>
                        <p class="teaser">Hatch together with Samsung is bringing 5G cloud gaming to the US with the launch of the Hatch for Samsung app. Owners of Samsung’s first flagship 5G...<a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us" class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/rovio_logo_16_horizontal_red_rgb_0.jpg?drpSg94z1SBkq91Wthz0pN.IGU9L8xCt&amp;itok=aNPNP92P" width="100" height="39"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/licensing">Licensing</a></div>
                            <p class="date">24.5.2019</p>
                            <h2><a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america">The Angry Birds tee off in their first mini-golf attraction in North America!</a></h2>
                        </header>
                        <p class="teaser">Good news for fans of Angry Birds and mini-golf—the first ever Angry birds mini-golf attraction in North America will be opening this year! The 18-...<a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america"
                                class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/hatch_vf_press_2.web_.jpg?H3s2aVXWr6p81wSIVzjC2LnD1Iwen7PC&amp;itok=7dAshyeA" width="100" height="56"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/hatch">Hatch</a></div>
                            <p class="date">23.5.2019</p>
                            <h2><a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service">Vodafone selects game streaming platform Hatch as its hero 5G gaming service</a></h2>
                        </header>
                        <p class="teaser">Premium game streaming platform Hatch, a Rovio Entertainment subsidiary, and multinational telecommunications brand Vodafone are collaborating to...<a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service"
                                class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/rovio-entertainment-and-unicef-finland-team-joint-initiative-support-unicefs-global-education"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News/rovio_x_unicef.jpg?msnKE1l8NY7G5BpF4fqmPSfrUzXQHOsB&amp;itok=_LF4oGF2" width="100" height="56" alt="Rovio and UNICEF"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/company-announcements">Company Announcements</a></div>
                            <p class="date">22.5.2019</p>
                            <h2><a href="/news/rovio-entertainment-and-unicef-finland-team-joint-initiative-support-unicefs-global-education">Rovio Entertainment and UNICEF Finland team up for a joint initiative to support UNICEF’s global education work</a></h2>
                        </header>
                        <p class="teaser">*/ Rovio Entertainment today announces it has teamed up with UNICEF Finland for a joint initiative centred around supporting UNICEF’s global...<a href="/news/rovio-entertainment-and-unicef-finland-team-joint-initiative-support-unicefs-global-education"
                                class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/frenemies-unite-cannes-angry-birds-movie-2-launch-event"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News images/the_angry_birds_movie_2_at_cannes2.jpg?IajMCkHXiJjFs8oBr6_1ItEwHar1aCPG&amp;itok=YuKEpHF-" width="100" height="56" alt="The Angry Birds Movie 2 at Cannes"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/movie">Movie</a></div>
                            <p class="date">15.5.2019</p>
                            <h2><a href="/news/frenemies-unite-cannes-angry-birds-movie-2-launch-event">Frenemies unite at Cannes in an Angry Birds Movie 2 launch event!</a></h2>
                        </header>
                        <p class="teaser">The Angry Birds flock and the voice cast for The Angry Birds Movie 2 took over the Carlton pier in Cannes this Monday to give the annual film...<a href="/news/frenemies-unite-cannes-angry-birds-movie-2-launch-event" class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/rovio-and-resolution-games-give-green-light-angry-birds-ar-isle-pigs-released-today-app-store"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/News images/ab-ar-image.jpg?uZ6VUCXJ6C40HWJLEfbU1AY2KQjqaIff&amp;itok=6qpG2qE0" width="100" height="56"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/games">Games</a></div>
                            <p class="date">29.4.2019</p>
                            <h2><a href="/news/rovio-and-resolution-games-give-green-light-angry-birds-ar-isle-pigs-released-today-app-store">Rovio and Resolution Games give the green light to Angry Birds AR: Isle of Pigs – released today in the App Store</a></h2>
                        </header>
                        <p class="teaser">Following an initial App Store pre-order campaign, Rovio and Resolution Games today released Angry Birds AR: Isle of Pigs for iOS devices*, bringing...<a href="/news/rovio-and-resolution-games-give-green-light-angry-birds-ar-isle-pigs-released-today-app-store"
                                class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/q1-2019-interim-report-published"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/rovio_logo_16_horizontal_red_rgb_0.jpg?drpSg94z1SBkq91Wthz0pN.IGU9L8xCt&amp;itok=aNPNP92P" width="100" height="39"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/company-announcements">Company Announcements</a></div>
                            <p class="date">25.4.2019</p>
                            <h2><a href="/news/q1-2019-interim-report-published">Q1 2019 Interim Report published </a></h2>
                        </header>
                        <p class="teaser">Comments from Kati Levoranta, CEO: Rovio’s first quarter 2019 started with a blast! Strong performance of Angry Birds 2 and successful launch of...<a href="/news/q1-2019-interim-report-published" class="more-link">Read more</a></p>
                    </article>


                    <article class="article node node-news node-teaser has-image view-mode-teaser clearfix">


                        <div class="pre-article">
                            <a href="/news/angry-birds-world-celebrates-its-grand-opening-doha-festival-city"><img src="https://assets-production.rovio.com/s3fs-public/styles/thumbnail/public/abw1.jpg?xepHlMQZ9UQRaH9Q7NQ3qllQ3jgF1sGT&amp;itok=iI45KEqN" width="100" height="75"></a>
                        </div>

                        <header>
                            <div class="field field-name-field-main-channel"><a href="/channel/licensing">Licensing</a></div>
                            <p class="date">25.4.2019</p>
                            <h2><a href="/news/angry-birds-world-celebrates-its-grand-opening-doha-festival-city">Angry Birds World celebrates its grand opening in Doha Festival City</a></h2>
                        </header>
                        <p class="teaser">With the completion of its outdoor section, featuring a 42-meter-high Super Slingshot ready to catapult guests into the air, the first ever Angry...<a href="/news/angry-birds-world-celebrates-its-grand-opening-doha-festival-city"
                                class="more-link">Read more</a></p>
                    </article>

                </div>

                <ul class="pager">
                    <li class="pager-previous first">&nbsp;</li>
                    <li class="pager-current">1 of 57</li>
                    <li class="pager-next last"><a title="Go to next page" href="/news/archive?page=1">next ›</a></li>
                </ul>




            </div>
        </div>
    </div>
</main> -->

<app-footer></app-footer>