<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height small-margin has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.96; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/bg_orange_2_1920x800.jpg?jrbv2IW6.BU4pBnEFc_tF7tXrQXIoUcL');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="https://assets-production.rovio.com/s3fs-public/Highlight assets/bunch_2.png?w_TjBtnM4GRIBdzjLxofOqkm3sTTHDPK" width="745" height="800"></div>
                    <div class="text-container">
                        <h2>Life at Rovio</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page node-promoted view-mode-full clearfix">



                <div class="field-body">
                    <h1>Welcome</h1>

                    <p>We’re not your usual bunch of game makers. We are the leading games-first entertainment company in the world. We make games that you either love or hate. We strive to make games that change the world. If that’s not too much for you,
                        come join us!</p>

                    <p>&nbsp;</p>

                    <h1>Living in the Nordics</h1>

                    <p>We are a couple of solitary nations on the top of the world. Our strength emanates from pushing through the cold and dark winters, year after year. We do not give up, it simply is not an option.</p>

                    <p>Finland and Sweden may be cold countries, but the people have warm hearts (and houses). &nbsp;The hidden power of the nordic fellows is quiet determination. It is what carries us through any storms and struggles that may come our way.
                        &nbsp;The surrounding peace, pure nature and solitude have birthed our creativity. It results in games that you either love or hate. We love them, obviously.</p>

                    <p>We strive for great work-life balance to ensure that we get the best of our teams every single day, not only on Mondays.</p>

                    <p>We offer relocation support for employees and their families. We take care of both immigration and relocation, everything from work permit to finding the right housing and bank account for you to make the transition as easy as possible.</p>

                    <p>&nbsp;</p>

                    <h1>Traineeships at Rovio</h1>

                    <p>We are constantly on the lookout for eager future professionals to join our team. As a trainee, you will gain an insider’s view on the game industry and refine your skills, while working with the best. If the idea of working hard to
                        become a pro and progressing in your career does not scare you, keep an eye on our careers page. More information on the traineeships will be uploaded as opportunities arise. You can also receive notifications for traineeships
                        by subscribing for entry level positions.</p>

                    <p>&nbsp;</p>

                    <div class="field-link button"><a href="javascript:void(0)" (click)="openPosition()">See open positions</a></div>

                    <p>&nbsp;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>