<main id="main" class="no-sidebar " role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height full-width-txt has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/rovio_investment_bgr.jpg?CUciumjgn7KIjYPP_oWlmCsyama78DMl');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Rovio as an investment</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <h2>ROVIO IN BRIEF</h2>

                    <p>Rovio is a global games-first entertainment company that creates, develops and publishes mobile games and acts as a brand licensor in various entertainment and consumer product categories. The Company is best known for creating the
                        global Angry Birds brand, which started from a popular mobile game and has expanded to include multiple other games, animated series, movies, activity parks and various consumer products produced by Rovio’s partners and other parties
                        under licenses from Rovio.</p>

                    <p>Rovio’s operations are divided into two business units: Games and Brand Licensing.</p>

                    <h3>Games</h3>

                    <p>The Games business unit creates, develops and publishes mobile games. There are currently 18 games based on the Angry Birds brand in the market, along with 2 other games. Rovio’s games have a large user base. The total number of downloads
                        exceeded four billion in January 2018 and, in 2018, the games had an average of 58,9 million monthly active users and 8,1 million daily active users.</p>

                    <h3>Brand Licensing</h3>

                    <p>The Brand Licensing business unit licenses Rovio’s Angry Birds brand and the related characters to product manufacturers and content producers. In the future, the unit may also license Rovio’s other brands. Some 70 million units of
                        various Angry Birds licensed products were sold in 2018, with the largest categories being clothing, food, toys and craft supplies.</p>

                    <h3>Mission and vision</h3>

                    <p>Rovio’s mission is to set the world on fire through crafting the best games and entertainment in the world.</p>

                    <p>The Company’s vision is to conquer the top-grossing charts for years and to have an evergreen entertainment brand.</p>

                    <h2>ROVIO AS AN INVESTMENT</h2>

                    <p><strong>1: A diversified portfolio of high-quality games with a large global user base</strong></p>

                    <ul>
                        <li>A strong and diversified game portfolio with multiple popular games.</li>
                        <li>84% of the Games business unit’s gross bookings is generated by the top five games in terms of gross bookings.</li>
                        <li>Rovio’s games have a large user base with more than four billion downloads as well as 58.9 million monthly active users (MAU) and 8.1 million Daily Active Users (DAU) on average <sup><a href="#subnote">[1]</a></sup>.</li>
                        <li>The Company’s diverse game portfolio enables cross-promotion to existing users.</li>
                    </ul>
                    <p><strong>2: Proven talent and process to continuously develop successful games across genres</strong></p>

                    <ul>
                        <li>Rovio employs experienced game developers and has a sophisticated game development process to create new games.</li>
                        <li>The Company aims to develop games in accordance with its “fewer, bigger and better” portfolio logic to support long-term revenue generation — games that have potential for a long lifetime, to reach top-grossing lists and to become
                            digital hobbies.</li>
                        <li>Rovio is pursuing genre mastery in certain genres of its choice, and it has award-winning games in various genres, such as slingshot, puzzle, role-playing and real-time player vs. player games.</li>
                    </ul>
                    <p><strong>3: Angry Birds is a global brand with wide and high global awareness as well as proven longevity and versatility</strong></p>

                    <ul>
                        <li>Angry Birds games achieved one billion downloads in 2012 and the total amount of game downloads exceeded four billion in early 2018.</li>
                        <li>The Angry Birds brand has a very high global awareness of 97% <sup><a href="#subnote">[2]</a></sup>.</li>
                        <li>Having been around since 2009, the Angry Birds brand has proven its longevity and versatility: about 70 million licensed Angry Birds products of various kinds were sold in 2018.</li>
                        <li>The Angry Birds Movie opened number one in theaters in 50 out of 88 countries in May 2016 and the total box office revenue from the movie exceeds USD 350 million.</li>
                    </ul>
                    <p><strong>4: Significant expertise in user acquisition, engagement and retention to drive the monetization of the games</strong></p>

                    <ul>
                        <li>Rovio has an efficient user acquisition model premised on a significant number of organic downloads based on the popularity of the Angry Birds brand as well as a sophisticated, analytical approach to paid user acquisition.</li>
                        <li>Rovio has demonstrated its ability to engage users and monetize user activity within its games. User engagement is promoted through a Game-as-a-Service (GaaS) model.</li>
                        <li>The Company has been able to increasingly convert users into paying users as well as to increase the spend per active user.</li>
                    </ul>
                    <p><strong>5: Revenue and profitability </strong></p>

                    <ul>
                        <li>Rovio’s revenue has increased from EUR 142 million to EUR 281 million between the financial years 2015–2018.</li>
                        <li>Rovio’s adjusted EBITDA has increased from EUR -3.2 million to EUR 47.5 million during the 2015–2018 period.</li>
                        <li>In 2017, Rovio adopted a new licensing-based business model in movies and animated series to decrease the Brand Licensing business unit’s need for capital expenditure and working capital. Under the new business model, the Company’s
                            investments in content production, marketing and distribution are minimal.</li>
                    </ul>
                    <p><strong>6: Experienced leadership team and the ability to retain the best talent</strong></p>

                    <ul>
                        <li>Rovio’s management team has extensive experience from all relevant sectors for the company including games, mobile technology, intellectual property rights, governance and brand management.</li>
                        <li>The Leadership Team’s track record includes significant operational changes and business transformations: fully transitioning the games monetization model to free-to-play, growing the Games business, restructuring the Brand Licensing
                            business to regain focus on core operations and products, and transforming the business model in movies and animated series to full licensing.</li>
                        <li>Rovio is one of the most attractive IT sector employers in Finland, being consistently ranked in the top 10 employers list <sup><a href="#subnote">[3]</a></sup>.</li>
                    </ul>
                    <h2>STRATEGY</h2>

                    <p>Our strategic focus areas are growing the Games business, growing the Brand Licensing business, seeking growth and value creation through mergers and acquisitions, and exploring the future of gaming.</p>

                    <p><img height="475" width="747" class="media-element file-default" src="https://assets-production.rovio.com/s3fs-public/pilars.png?mS2l3Fe4UgrpcqTEQiEPHsIDUVOyzevM" alt=""></p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/rovio_strategy.pdf" target="_blank">Click here for more information on Rovio strategy</a></p>

                    <h2>OPERATING ENVIRONMENT</h2>

                    <p>We operate in three major entertainment markets: mobile gaming, Angry Birds brand and character licensing, and movies. Our Games business unit operates in mobile gaming, which is a large, fast-growing and dynamic global market, whereas
                        our Brand Licensing business unit operates in the licensing market, and through licensing also in movie markets. Brand and character licensing markets, as well as movie markets are large and global but mature markets.</p>

                    <h3>A dynamic and fast-growing mobile gaming market</h3>

                    <p>Mobile gaming has become the largest gaming market in the world according to market intelligence provider Newzoo. This has been enabled by the following drivers: the installed base of smartphones has grown to exceed three billion active
                        units, the number of gamers has grown and is expected to exceed 2.2 billion by the end of 2018, average in-game spend per user is increasing, and the free-to-play revenue model enables higher monetization while also extending the
                        lifespan of games.</p>

                    <p>Free-to-play games, where users play the game for free but can choose to make in-app purchases in order to progress more quickly, enable new content or unlock special features and are subject to in-app advertising, have become the
                        dominant revenue model in the market, significantly increasing the revenue potential of mobile games as games have evolved into services. Rovio has responded to the shift in the revenue model by fully transforming its games to
                        the free-to-play model.</p>

                    <p>According to market intelligence provider Newzoo’s latest global games market report published in January 2019, the global mobile gaming market size in end-user generated revenue was estimated to be USD 63 billion in 2018 which represented
                        13% year-on-year growth. The global growth rate was somewhat reduced in 2018 from earlier estimates due to the Chinese government’s 9-month hiatus in approving new game launches for both foreign and domestic game developers. In
                        December 2018, the Chinese government restarted the approving of new games. Newzoo estimates the global mobile gaming market to grow to USD 72 billion in 2019 which represents 13% year-on-year growth.</p>

                    <p>In the long-term, the global mobile gaming market is expected to continue its double-digit growth of 13% CAGR during 2018-2021. Rovio’s focus is mostly on the Western markets which is expected to grow at 10% CAGR during 2018-21. Other
                        major market phenomena in 2018 were the emergence in mobile gaming of Battle Royale, previously a popular genre on PC and console devices, and the dominance of hypercasual games in the download charts. Hypercasual games are arcade
                        games that are simple and easy to play, and users typically play them only for short periods of time. These examples showed once again the fast pace of innovation and the many opportunities in the mobile gaming industry. On the
                        other hand, the top-grossing US mobile game chart continued to be populated by the established long-term mobile game franchises throughout 2018, including our top game, Angry Birds 2.</p>

                    <p>Even though the mobile gaming market is large and growing fast, the barriers to achieve long-term success are becoming increasingly high as only a small portion of published mobile games reach significant scale, and user acquisition
                        costs are increasing. We believe that the industry success factors for overcoming discoverability and user acquisition challenges favor large gaming companies with strong brand awareness such as Rovio. Having a well-known brand,
                        such as Angry Birds, creates opportunities for developing different kinds of games for different target groups, promotes the discoverability of games and is essential for achieving organic downloads.</p>

                    <h3>Entertainment &amp; character licensing and movie market</h3>

                    <p>According to LIMA, the licensing industry’s global association, the size of the entertainment &amp; character licensing market was USD 7.1 billion in 2017, calculated in terms of reported royalties received by licensors. Brand licensors
                        typically receive approximately 6% of the retail sales as royalties. North America and EMEA accounted for 74% of the market in 2017, but China and the rest of Asia are growing at the fastest rate. The growth of the global market
                        is typically on par with GDP growth and historical CAGR was 2.9% during 2012–2017.</p>

                    <p>The market is dominated by global brands with high brand awareness and affinity, and building new brands is expensive and time-consuming. Sales are driven especially by tentpole content, such as movies. Rovio is in a good position
                        to capture future growth with the sequel to the Angry Birds Movie, which was released in 2016. The sequel is set to be released in August 2019. Our first-ever long-form TV and streaming series are planned for 2020.</p>

                    <p>The digital transformation and the growing importance of digital experiences are driving sales and marketing to digital channels and companies are trying to find ways to link physical products to digital channels, for example by using
                        augmented reality (AR). Rovio has pioneered the bridging of the physical and digital worlds and will continue to do that by delivering engaging and innovative solutions to both our consumers and licensing partners. The role of
                        e-commerce is also growing and, as a digital native company, we have been utilizing digital channels for several years.</p>

                    <p>However, competition is fierce in the licensing market and retail windows are getting shorter and shorter. In a tight competitive landscape, working with top-tier partners in the industry has become increasingly important. Recognizing
                        this, we have partnered with the Sony-owned Columbia Pictures Industries for the Angry Birds Movie 2 and we have managed to secure an attractive list of consumer products licensing partners for the movie year 2019 and beyond.</p>

                    <hr>
                    <p>
                        <a name="subnote" id="subnote"></a>
                    </p>

                    <p>[1] during 2018. [2] Based on a survey in which a 15-minute online questionnaire was completed by a total of 7,500 respondents from five countries (USA, UK, China, Russia and Mexico) June 27–July 14, 2017. Source: Lieberman Research
                        Worldwide. [3] Top 10 IT industry employers in Finland in 2018. The survey was conducted between November 2017 and April 2018. The sample consisted of 10,602 students from 40 higher education institutions in Finland. Source: Universum
                        student survey</p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>