<main id="main" class="no-sidebar __web-inspector-hide-shortcut__" role="main">
    <div class="slick-slider field-hero-banner slick-processed" id="field-hero-banner">
        <div class="slides slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable" style="height: 660px;">
                <div class="slick-track" style="opacity: 1; width: 8094px; left: -4047px;" role="listbox">
                    <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.80; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Backgrounds/abblast_background3.jpg');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/abb_characters_foreground4.png" width="600" height="800"></div>
                                <div class="text-container">
                                    <h2>Angry Birds Blast!</h2>
                                    <div class="field-body text-highlight">
                                        <p>Play an all-new Angry Birds puzzler to free the birds from balloons, rescue the eggs, and save the day from the piggies once again!</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="-1">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/ab_blast_icon_2019.jpg?binl9dTZg5cS7s.sdo0XVAUl9gcXCZvK&amp;itok=ci8Tz-6b" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds Blast</h2>
                                        </div>

                                        <div class="field-ingress">
                                            The most instantly satisfying Angry Birds game ever. Tap matching balloons to blast the birds to freedom! </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-blast/id1122444037" target="_blank" tabindex="-1">https://itunes.apple.com/app/angry-birds-blast/id1122444037</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.blast" target="_blank" tabindex="-1">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="node node-highlight no-rovio-color image-right image-v-bottom has-bg has-image  view-mode-full has-txt clearfix slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.80; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/roviocom_highlight.jpg?zh6AIfn2YGBksAln_HAHnJO00nScY1ka');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/roviocom_highlight_2.png?AeW1_Z03j0lA1.EQ.h4pkpSfn1CtyQr6" width="600" height="800"></div>
                                <div class="text-container">
                                    <h2>Angry Birds Dream Blast</h2>
                                    <div class="field-body text-highlight">
                                        <p>Life is a bubble-popping dream in a new puzzle game with a new gameplay style never-before-seen in an Angry Birds game.</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="-1">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/dream_blast_icon.jpg?mFeeCqScpestyDg1fptUqm_.njCpANR1&amp;itok=Zc_WgsGa" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds Dream Blast</h2>
                                        </div>

                                        <div class="field-ingress">
                                            Life is a bubble-popping dream in a new puzzle game with a new gameplay style never-before-seen in an Angry Birds game. </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-dream-blast/id1432579280" target="_blank" tabindex="-1">https://itunes.apple.com/app/angry-birds-dream-blast/id1432579280</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.dream" target="_blank" tabindex="-1">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.70; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/ab2_roviocom_bg_2.jpg');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/ab2_characters_foreground_1.png" width="600" height="800"></div>
                                <div class="text-container">
                                    <h2>Angry Birds 2</h2>
                                    <div class="field-body text-highlight">
                                        <p>Play the sequel to the biggest mobile game of all time. Topple towers and pop pigs in tons of multi-stage levels, and test your skills against other players to earn handsome rewards in the Arena.</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="-1">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/abba_icon_0.jpg?sTnq7JGDCPXbsGwQZHWhHpZcypWt5cnG&amp;itok=nEZToLux" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds 2</h2>
                                        </div>

                                        <div class="field-ingress">
                                            Bigger. Badder. Birdier. The Angry Birds are back in the sequel to the biggest mobile game of all time. </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-2/id880047117" target="_blank" tabindex="-1">https://itunes.apple.com/app/angry-birds-2/id880047117</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.baba" target="_blank" tabindex="-1">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02"
                        style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.99; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/abmatch_abcom_background_roviocom_0.jpg?SgEEUnfhJWJSPQTKBDTvYPAzrg_mRCVK');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/abmatch_foregroundchar_roviocom_0.png?G7cQjllnmROuE1Fj4YKVKC3jHgoRbw4o" width="600" height="600"></div>
                                <div class="text-container">
                                    <h2>Angry Birds Match</h2>
                                    <div class="field-body text-highlight">
                                        <p>Match stuff with the adorable Hatchlings from the Angry Birds Movie, collect cute outfits, and get the party started!</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="0">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/ab_match_201810_390x390_winter.jpg?b6gtGnFT.KsAXYnZip6MtzoqbnQxFTpn&amp;itok=hxTgwWW0" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds Match</h2>
                                        </div>

                                        <div class="field-ingress">
                                            Match stuff with the adorable Hatchlings from the Angry Birds Movie, collect cute outfits, and get the party started! </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-match/id1144401880" target="_blank" tabindex="0">https://itunes.apple.com/app/angry-birds-match/id1144401880</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.abmatch3" target="_blank" tabindex="0">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.80; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Backgrounds/abblast_background3.jpg');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/abb_characters_foreground4.png" width="600" height="800"></div>
                                <div class="text-container">
                                    <h2>Angry Birds Blast!</h2>
                                    <div class="field-body text-highlight">
                                        <p>Play an all-new Angry Birds puzzler to free the birds from balloons, rescue the eggs, and save the day from the piggies once again!</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="-1">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/ab_blast_icon_2019.jpg?binl9dTZg5cS7s.sdo0XVAUl9gcXCZvK&amp;itok=ci8Tz-6b" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds Blast</h2>
                                        </div>

                                        <div class="field-ingress">
                                            The most instantly satisfying Angry Birds game ever. Tap matching balloons to blast the birds to freedom! </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-blast/id1122444037" target="_blank" tabindex="-1">https://itunes.apple.com/app/angry-birds-blast/id1122444037</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.blast" target="_blank" tabindex="-1">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="node node-highlight no-rovio-color image-right image-v-bottom has-bg has-image  view-mode-full has-txt clearfix slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1349px;">

                        <div class="graphic" style="opacity: 0.80; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/roviocom_highlight.jpg?zh6AIfn2YGBksAln_HAHnJO00nScY1ka');">&nbsp;</div>
                        <div class="wrapper">
                            <div class="inner-wrapper">
                                <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/Highlight assets/roviocom_highlight_2.png?AeW1_Z03j0lA1.EQ.h4pkpSfn1CtyQr6" width="600" height="800"></div>
                                <div class="text-container">
                                    <h2>Angry Birds Dream Blast</h2>
                                    <div class="field-body text-highlight">
                                        <p>Life is a bubble-popping dream in a new puzzle game with a new gameplay style never-before-seen in an Angry Birds game.</p>
                                    </div>
                                    <a href="#" class="button download" tabindex="-1">Download</a>
                                    <div class="field field-name-field-game-download-link download-links-processed">
                                        <div class="field-game-icon">
                                            <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/dream_blast_icon.jpg?mFeeCqScpestyDg1fptUqm_.njCpANR1&amp;itok=Zc_WgsGa" width="370" height="370"> </div>

                                        <div class="field-title">
                                            <h2>Angry Birds Dream Blast</h2>
                                        </div>

                                        <div class="field-ingress">
                                            Life is a bubble-popping dream in a new puzzle game with a new gameplay style never-before-seen in an Angry Birds game. </div>
                                        <div class="field field-name-field-download-links">
                                            <div class="field-itunes-app-store">
                                                <div class="link-item ">
                                                    <div class="link-title">iOS</div>
                                                    <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-dream-blast/id1432579280" target="_blank" tabindex="-1">https://itunes.apple.com/app/angry-birds-dream-blast/id1432579280</a></div>
                                                </div>
                                            </div>

                                            <div class="field-google-play">
                                                <div class="link-item ">
                                                    <div class="link-title">Android</div>
                                                    <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.dream" target="_blank" tabindex="-1">https://play.google.com/store/apps/details</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>







        </div>
        <div class="pager">
            <div class="container">
                <ul class="slider-pager">
                    <li data-page="0" class="first"><a href="/">Angry Birds Dream Blast</a></li>
                    <li data-page="1" class=""><a href="/">Angry Birds 2</a></li>
                    <li data-page="2" class="active"><a href="/">Angry Birds Match</a></li>
                    <li data-page="3" class="last"><a href="/">Angry Birds Blast!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body element-invisible">
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height full-width-txt small-margin no-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Rovio News</h2>
                    </div>
                </div>
            </div>
        </aside>

        <div class="view view-front-page-news-liftups view-id-front_page_news_liftups view-display-id-block news-liftups wall wall-small view-dom-id-2f0a4697b338e536b946d964af3ec264">
            <div class="view-content" style="position: relative; height: 897px;">
                <div class="grid-sizer" style="width: 300px;"></div>
                <div role="article" onclick="location.href='/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series'" class="ds-1col node node-news rovio-violet rovio-color has-image view-mode-big clearfix isotope-item" style="position: absolute; left: 0px; top: 0px; padding-bottom: 0px; width: 600px; height: 600px;">
                    <a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_big/public/News images/abrcr_feature.jpg?Y7OrGSvqb_WoKcw5NfSvxl0WRLnSuy5S');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/get-inside-scoop-angry-birds-movie-2-all-new-youtube-series" class="group-link"><span class="date">11.6.2019</span><h2 class="heading-priority-big fit" style="font-size: 41.7391px;">Get the inside scoop on The Angry Birds Movie 2 in an all-new YouTube series.</h2><p class="fit-very-high" style="font-size: 16px;">Get up close and personal with the cast of The Angry Birds Movie 2 in the Angry Birds Red Carpet Rep</p></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-green-lantern rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/News images/ab_sofa_logos_rdc.jpg?pMJNstNkR8TfzRl3wlDXbbGQr_B_cMSp');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/angry-birds-movie-2-vr-under-pressure-comes-playstation-vr-summer" class="group-link"><span class="date">4.6.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">The Angry Birds Movie 2 VR: Under Pressure comes to PlayStation VR this summer.</h2><p class="fit-very-high" style="font-size: 14px;">The Angry Birds Movie 2 VR: Under Pressure brings together the birds and pigs – as well as virtual r</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-blue rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 0px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/News images/hatch_logo.jpg?7u4eQbCvbWyJ.2mZG5nNDTrcLPHJPk67');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/hatch-and-samsung-team-hyperfast-5g-gaming-us" class="group-link"><span class="date">4.6.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Hatch and Samsung team up for hyperfast 5G gaming in the US.</h2><p class="fit-very-high" style="font-size: 14px;">The new Hatch for Samsung game streaming app for Galaxy S10 5G phones lets players enjoy 100+ premiu</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-orange rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 600px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/rovio_logo_16_horizontal_red_rgb_0.jpg?WJbK19ZsC9keNJj3HG9Oq0NA3OCnnYrf');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/angry-birds-tee-their-first-mini-golf-attraction-north-america" class="group-link"><span class="date">24.5.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">The Angry Birds tee off in their first mini-golf attraction in North America!</h2><p class="fit-very-high" style="font-size: 14px;">The new 18-hole course, based on The Angry Birds Movie 2, will open later this year in the New Jerse</p><span class="more-link">Read more</span></a></div>
                </div>

                <div role="article" class="ds-1col node node-news rovio-blue rovio-color has-image view-mode-small clearfix isotope-item" style="position: absolute; left: 900px; top: 300px; padding-bottom: 0px; width: 300px; height: 300px;">
                    <a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service" class="group-bg-link">
                        <div class="graphic" style="background-image:url('http://assets-production.rovio.com/s3fs-public/styles/liftup_small/public/hatch_vf_press_2.web_.jpg?3cTGSn_ikYzOKeAAV2Xbp_71DvRW9cal');">&nbsp;</div>
                    </a>
                    <div class="text-container"><a href="/news/vodafone-selects-game-streaming-platform-hatch-its-hero-5g-gaming-service" class="group-link"><span class="date">23.5.2019</span><h2 class="heading-priority-small fit" style="font-size: 22.6087px;">Vodafone selects game streaming platform Hatch as its hero 5G gaming service</h2><p class="fit-very-high" style="font-size: 14px;">Partnership between Finland’s pioneering cloud gaming service and Europe’s largest tech communicatio</p><span class="more-link">Read more</span></a></div>
                </div>

            </div>

        </div>
        <aside class="node node-highlight no-rovio-color image-right image-v-middle has-bg has-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.70; background-image:url('http://assets-production.rovio.com/s3fs-public/styles/hero_background/public/ab2_roviocom_bg_2.jpg');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="field field-name-field-image"><img src="http://assets-production.rovio.com/s3fs-public/ab2_characters_foreground_1.png" width="600" height="800"></div>
                    <div class="text-container">
                        <h2>Angry Birds 2</h2>
                        <div class="field-body text-highlight">
                            <p>Play the sequel to the biggest mobile game of all time. Topple towers and pop pigs in tons of multi-stage levels, and test your skills against other players to earn handsome rewards in the Arena.</p>
                        </div>
                        <a href="#" class="button download">Download</a>
                        <div class="field field-name-field-game-download-link download-links-processed">
                            <div class="field-game-icon">
                                <img src="http://assets-production.rovio.com/s3fs-public/styles/product_grid_image/public/Game icons/abba_icon_0.jpg?sTnq7JGDCPXbsGwQZHWhHpZcypWt5cnG&amp;itok=nEZToLux" width="370" height="370"> </div>

                            <div class="field-title">
                                <h2>Angry Birds 2</h2>
                            </div>

                            <div class="field-ingress">
                                Bigger. Badder. Birdier. The Angry Birds are back in the sequel to the biggest mobile game of all time. </div>
                            <div class="field field-name-field-download-links">
                                <div class="field-itunes-app-store">
                                    <div class="link-item ">
                                        <div class="link-title">iOS</div>
                                        <div class="link-url"><a href="https://itunes.apple.com/app/angry-birds-2/id880047117" target="_blank">https://itunes.apple.com/app/angry-birds-2/id880047117</a></div>
                                    </div>
                                </div>

                                <div class="field-google-play">
                                    <div class="link-item ">
                                        <div class="link-title">Android</div>
                                        <div class="link-url"><a href="https://play.google.com/store/apps/details?id=com.rovio.baba" target="_blank">https://play.google.com/store/apps/details</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <aside class="node node-highlight no-rovio-color image-right image-v-middle dynamic-height small-margin has-columns no-bg no-image  view-mode-full no-txt clearfix">

            <div class="graphic" style="">&nbsp;</div>
            <div class="columns">
                <div class="wrap">
                    <div class="col">
                        <figure><img src="http://assets-production.rovio.com/s3fs-public/Backgrounds/rovioforparents.jpg" width="284" height="177"></figure>
                        <h3>Rovio for parents</h3>
                        <p>Get&nbsp;instructions on how to manage in-app purchases and data usage on different mobile devices.&nbsp;<a href="https://support.rovio.com/hc/en-us/categories/200424607-Rovio-for-Parents" style="line-height: 20.8px;" target="_blank">Read more</a></p>
                    </div>
                    <div class="col">
                        <figure><img src="http://assets-production.rovio.com/s3fs-public/Backgrounds/faq.jpg" width="284" height="177"></figure>
                        <h3>Rovio FAQ</h3>
                        <p>Peruse a library of the most frequently asked questions about Rovio games and other products.<br><a href="https://support.rovio.com/hc/en-us/categories/200205833-Rovio" target="_blank">Read more</a></p>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</main>

<app-footer></app-footer>