<main id="main" class="no-sidebar __web-inspector-hide-shortcut__" role="main">



    <div class="field-hero-banner">
        <aside class="node node-highlight no-rovio-color image-right image-v-bottom dynamic-height full-width-txt has-bg no-image  view-mode-full has-txt clearfix">

            <div class="graphic" style="opacity: 0.99; background-image:url('https://assets-production.rovio.com/s3fs-public/styles/hero_background/public/Highlight assets/pattern_rovioshare.jpg?EUPW1wPSSOWLTV.vruZVOwPfLpXM7xMh');">&nbsp;</div>
            <div class="wrapper">
                <div class="inner-wrapper">
                    <div class="text-container">
                        <h2>Rovio share</h2>
                    </div>
                </div>
            </div>
        </aside>

    </div>
    <div class="wrap">
        <div class="main-wrap">


            <div role="article" class="ds-1col node node-basic-page view-mode-full clearfix">



                <div class="field-body">
                    <p>Rovio’s share (ROVIO) is listed on NASDAQ Helsinki. The company's shares are included in the book-entry system operated by the Euroclear Finland Ltd.</p>

                    <h2>Rovio's share price</h2>

                    <p><iframe class="responsive" frameborder="0" id="RovioId2" scrolling="no" src="https://irs.tools.investis.com/clients/fi/rovio/ShareFactTable/default.html?culture=en-US" width="100%" style="overflow: hidden; height: 1436px;"></iframe></p>

                    <h2>Share monitor</h2>

                    <p>The share monitor is an interactive tool in which you can follow the development of Rovio’s share price and trading volumes on Nasdaq Helsinki. Please note that the data is delayed by 15 minutes and the time shown is local time in
                        Helsinki.
                    </p>

                    <p><iframe class="responsive" frameborder="0" id="RovioId3" scrolling="no" src="https://ir.tools.investis.com/Clients/fi/rovio/SM8/Default.aspx?culture=en-US" width="100%" style="overflow: hidden; height: 2250px;"></iframe></p>

                    <p>Shareholder register is maintained and available at Euroclear Finland Ltd’s office in Urho Kekkosen katu 5 C, 8th floor, Helsinki, Finland.</p>

                    <h2>Share capital and treasure shares</h2>

                    <p>The following table summarizes the changes in Rovio’s share capital and number of shares starting January 1, 2014.</p>

                    <div class=" tablesaw-bar mode-stack"></div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tablesaw-5486">
                        <tbody>
                            <tr>
                                <th>
                                    <p align="left"><strong>Date </strong></p>
                                </th>
                                <th>
                                    <p align="left"><strong>Change</strong></p>
                                </th>
                                <th>
                                    <p>&nbsp;</p>

                                    <p><strong>Number of shares</strong></p>
                                </th>
                                <th>
                                    <p align="right"><strong>Number of shares, total</strong></p>
                                </th>
                                <th>
                                    <p align="right"><strong>Share capital, total EUR</strong></p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">January 1, 2014</p>
                                </td>
                                <td>
                                    <p align="right">&nbsp;</p>
                                </td>
                                <td>
                                    <p align="right">&nbsp;</p>
                                </td>
                                <td>
                                    <p align="right">74,924,446</p>
                                </td>
                                <td>
                                    <p align="right">733,390,00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">May 5, 2015</p>
                                </td>
                                <td>
                                    <p align="right">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">500</p>
                                </td>
                                <td>
                                    <p align="right">74,924,946</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">July 28, 2015</p>
                                </td>
                                <td>
                                    <p align="right">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">20,000</p>
                                </td>
                                <td>
                                    <p align="right">74,944,946</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">April 13, 2017</p>
                                </td>
                                <td>
                                    <p align="right">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">3,500</p>
                                </td>
                                <td>
                                    <p align="right">74,948,446</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;September 13, 2017</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">364,352</p>
                                </td>
                                <td>
                                    <p align="right">75,312,798</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;September 29, 2017</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (initial public offering)</p>
                                </td>
                                <td>
                                    <p align="right">2,608,696</p>
                                </td>
                                <td>
                                    <p align="right">77,921,494</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;February 22, 2018</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">214,267</p>
                                </td>
                                <td>
                                    <p align="right">79,385,542</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">May 28, 2018</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">15,500</p>
                                </td>
                                <td>
                                    <p align="right">79,401,042</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;August 15, 2018</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">46,500</p>
                                </td>
                                <td>
                                    <p align="right">79,447,542</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;January, 30 2019</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">17,200</p>
                                </td>
                                <td>
                                    <p align="right">79,464,742</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p align="left">&nbsp;April, 8 2019</p>
                                </td>
                                <td>
                                    <p class="rteright">Increase (subscription using stock options)</p>
                                </td>
                                <td>
                                    <p align="right">212,900</p>
                                </td>
                                <td>
                                    <p align="right">79,677,642</p>
                                </td>
                                <td>
                                    <p align="right">733,390.00</p>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>

                    <p>On September 5th, 2018 Rovio started share repurchasing program according to which&nbsp;the maximum number of shares to be acquired is 650,000. The shares repurcased and the total number of shares held are announced on page&nbsp;
                        <a href="https://www.rovio.com/investors/releases-and-publications?language=en" target="_bank">https://www.rovio.com/investors/releases-and-publications?language=en</a>.</p>

                    <h2>Dividend</h2>

                    <p>Rovio’s intention is to distribute approximately 30 percent of annual net profit excluding items affecting comparability as dividend and equity returns to Rovio’s shareholders and taking other factors such as Rovio’s financial position,
                        cash flow and growth opportunities into consideration.</p>

                    <p>There can be no assurances that dividends or equity returns will actually be paid in the future, nor are there any assurances as to the amount of dividends or equity returns to be paid for a particular year.</p>

                    <h2>Analysts</h2>

                    <p>The below mentioned analysts are following Rovio Entertainment Corporation. Rovio is not responsible for their comments or forecasts.</p>

                    <div class=" tablesaw-bar mode-stack"></div>
                    <table border="0" cellpadding="0" cellspacing="0" width="0" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tablesaw-6061">
                        <tbody>
                            <tr>
                                <th width="325" bgcolor="#eeeeee">
                                    <p align="left"><strong>BROKER</strong></p>
                                </th>
                                <th width="210" bgcolor="#eeeeee">
                                    <p align="left"><strong>ANALYST</strong></p>
                                </th>
                                <th width="240" bgcolor="#eeeeee">
                                    <p align="left"><strong>EMAIL</strong></p>
                                </th>
                            </tr>
                            <tr>
                                <td width="325">
                                    <p>Carnegie Investment Bank, Finland</p>
                                </td>
                                <td width="210">
                                    <p>Matti Riikonen</p>
                                </td>
                                <td width="240">
                                    <p><a href="mailto:matti.riikonen@carnegie.fi">matti.riikonen@carnegie.fi</a></p>
                                </td>

                            </tr>
                            <tr>
                                <td width="325">
                                    <p>Deutsche Bank</p>
                                </td>
                                <td width="210">
                                    <p>Nizla Naiser</p>
                                </td>
                                <td width="240">
                                    <p><a href="mailto:fathima-nizla.naizer@db.com">fathima-nizla.naizer@db.com</a></p>
                                </td>

                            </tr>
                            <tr>
                                <td width="325">
                                    <p>SEB</p>
                                </td>
                                <td width="210">
                                    <p>Veli-Pekka Puolakanaho</p>
                                </td>
                                <td width="240">
                                    <p><a href="mailto:veli-pekka.puolakanaho@seb.fi">veli-pekka.puolakanaho@seb.fi</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="325">
                                    <p>OP Financial Group Equities</p>
                                </td>
                                <td width="210">
                                    <p>Kimmo Stenvall</p>
                                </td>
                                <td width="240">
                                    <p><a href="mailto:kimmo.stenvall@op.fi">kimmo.stenvall@op.fi</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="325">
                                    <p>Danske Bank Markets</p>
                                </td>
                                <td width="210">
                                    <p>Richard Farneman</p>
                                </td>
                                <td width="240">
                                    <p><a href="mailto:richard.farneman@danskebank.com">richard.farneman@danskebank.com</a></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Stock Options</h2>

                    <p>Rovio has established several stock option programs as part of the Rovio Group’s incentive and commitment program for personnel. The purpose of the stock options is to encourage personnel to work on a long-term basis to increase shareholder
                        value. The option rights will be granted to personnel in a way determined by the Board of Directors.</p>

                    <h3>Share subscription with Rovio Entertainment’s option rights 2015A and 2015AII</h3>

                    <p>Currently the share subscription price for the stock options 2015A is 2,76 € per share and the stock options 2015AII 3,00 € per share.</p>

                    <p>The share subscription period for stock options 2015A and 2015AII is 1 August 2017 – 31 July 2019.</p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/rovio_stock_options_2015_terms_final.pdf?_FUcCbzloj02jjZPTr4oXf4UAWUHeQnZ" target="_blank">Terms And Conditions Stock Options 2015</a></p>

                    <p>The shares subscribed for under Rovio Entertainment Corporation stock options during 2019 will be registered in the Trade Register and listed on NASDAQ Helsinki on the following target dates:</p>

                    <div class=" tablesaw-bar mode-stack"></div>
                    <table cellpadding="0" cellspacing="0" class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tablesaw-7671">
                        <tbody>
                            <tr>
                                <th bgcolor="#eeeeee"><strong>Subscription/ payment date</strong></th>
                                <th bgcolor="#eeeeee"><strong>Estimated registration date</strong></th>
                                <th bgcolor="#eeeeee"><strong>Estimated listing date</strong></th>
                            </tr>
                            <tr>
                                <td>21.3.2019</td>
                                <td>10.4.2019</td>
                                <td>11.4.2019</td>
                            </tr>
                            <tr>
                                <td>4.7.2019</td>
                                <td>24.7.2019</td>
                                <td>25.7.2019</td>
                            </tr>
                            <tr>
                                <td>31.7.2019*</td>
                                <td>16.08.2019</td>
                                <td>19.08.2019</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>* The share subscription period for 2015A and 2015AII options will end on July 31, 2019.</p>

                    <p>Please note that the registration and listing dates are estimated.</p>

                    <h3>Option holders who have a book-entry account at Evli Bank Plc</h3>

                    <p>Option holders who are currently employed to Rovio Entertainment Corporation and who have a book-entry account at Evli Bank can carry out their share subscription electronically through the Incentive portal at <a href="https://incentive.eam.fi"
                            target="_blank">https://incentive.eam.fi</a>.</p>

                    <p>Other option rights holders (investors) who have a book-entry account at Evli Bank can subscribe shares by contacting Evli Bank’s Helpdesk by email <a href="operations@evli.com">operations@evli.com</a> or by phone +358 (0) 9 4766 9931
                        (9:00 am – 4:00 pm).</p>

                    <h3>Option holders who have a book-entry account in another account operator</h3>

                    <p>Option holders who are currently employed to Rovio Entertainment Corporation or other option rights holders (investors) who have a book-entry account in another account operator will contact their respective account operator for share
                        subscription. The account operator will provide further information on how to subscribe shares.</p>

                    <p>After the subscription and paying the subscription price according to the payment instructions the account operator will take care of the required entries in your book-entry account, whereby the options used for subscription will be
                        removed and new shares of Rovio Entertainment Corporation will be entered.</p>

                    <p>The subscribed shares are not immediately available for selling on the stock exchange, but the new shares will first be entered into the Trade Register and after that the shares will be applied for listing on the stock exchange as
                        a so-called supplementary lot. Therefore, a stock option holder should be aware that the subscribed share would only be quoted after several weeks from the share subscription.</p>

                    <p>Shares will establish shareholders rights as of the date of share registration.</p>

                    <p><a href="http://assets-production.rovio.com/s3fs-public/option_terms_2017-2019_english_16052018.pdf?81vM4WCvspcwWKKs3pb7yzN6P1rxd5rM" target="_blank">Terms and Conditions Stock Options 2017-2019</a></p>

                    <p>More information about the stock option programs can be found from the <a href="https://www.rovio.com/investors/governance">Governance section</a>.</p>
                </div>
            </div>

        </div>
    </div>


    <div class="field field-name-field-module"></div>
</main>

<app-footer></app-footer>